# remove this file after initializing your terraform
# you can always regenerate it by running ./apply.sh
# within the bootstrap module

bucket     = "${creds.bucket}"
region     = "${creds.region}"
access_key = "${creds.access_key_id}"
secret_key = "${creds.secret_access_key}"
