{% extends "weather/page.html" %}
{% comment %}
-- Template purpose:
--   This page displays alert information for people at their point location
-- Url: https://beta.weather.gov/forecast/point/43.156/-77.613/alerts/
{% endcomment %}
{% block head_js %}
  <script src="{% static 'js/third-party/chartjs@4.5.1.js' %}"></script>
  <script src="{% static 'js/third-party/chartjs-plugin-datalabels@2.2.0.js' %}"></script>
{% endblock %}

{% block page_end_js %}
  <script type="module" src="{% static 'js/point.alerts.html.js' %}"></script>
  {% if point.alerts.items|length > 0 %}
    {% comment %}
    We only use Leaflet and the ESRI plugins on the alert tabs, so we'll
    only include them here if there are any alerts. Otherwise we don't need
    to bother!
    {% endcomment %}
    {% include "weather/scripts/leaflet.html" %}
  {% endif %}
{% endblock %}

{% block page_head_css %}
  <!-- Prefetch for other tab pages -->
  <link rel="prefetch" href="{% url 'point_forecast_seven_day' lat=point.point.latitude lon=point.point.longitude %}" />
  <link rel="prefetch" href="{% url 'point_forecast_today' lat=point.point.latitude lon=point.point.longitude %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/leaflet.css' %}" />
{% endblock %}

{% block page_content %}
  <div class="layout-container grid-row height-full flex-column flex-no-wrap">
    {% include 'weather/partials/place-banner.html' with place=point.place %}
    {% if point.alerts.items|length > 0 %}
      <div class="bg-primary-darker padding-bottom-105">
        <div class="grid-container margin-top-0">
          {% include "weather/partials/alert-summary.html" with alerts=point.alerts.items is_alerts_page=True lat=point.point.latitude lon=point.point.longitude %}
        </div>
      </div>
    {% endif %}
    <wx-tabbed-nav class="flex-1 display-flex flex-column position-relative" id="point-page-tabbed-nav">
      <div id="tablist-label" class="usa-sr-only">{{ "forecast.labels.weather-info.01" | t }}</div>
      <div class="position-sticky top-0 bg-white border-base-light border-top-0 border-bottom-2px margin-y-0">
        {# Include the tab buttons (or links, depending on htmx mode  #}
        <div class="grid-container padding-x-0">
          {% include 'weather/point/tabs.html' with selected="alerts" %}
        </div>
      </div>

      {# Include the various tab containers, with the alerts container populated #}
      {% include 'weather/point/tab-containers.html' with tab_name="alerts" %}
    </wx-tabbed-nav>

    <!-- Saved locations section-->
    {% include 'weather/partials/saved-locations-section.html' with type="point" mode="dark" heading="saved-locations.heading.section-main.01" %}
  </div>
{% endblock %}
