{% comment %}
-- Template purpose:
--   This partial contains the markup that should be used
--    inside the page_end_js block on point forecast tab pages.
{% endcomment %}
<script type="module" src="{% static 'js/point.html.js' %}"></script>
<script src="{% static 'js/cmi-radar.54fb0324.js' %}"
        nonce="{{ request.csp_nonce }}"
        data-wx-radar-cmi="true"
        defer></script>

{% if point.alerts.items|length > 0 %}
  {% comment %}
  We only use Leaflet and the ESRI plugins on the alert tabs, so we'll
  only include them here if there are any alerts. Otherwise we don't need
  to bother!
  {% endcomment %}
  {% include "weather/scripts/leaflet.html" %}
{% endif %}
