{% extends "weather/page.html" %}
{% comment %}
-- Template purpose:
--   This page tells people the weather at their (chosen) location!
-- Url: https://beta.weather.gov/point/43.156/-77.613/
{% endcomment %}
{% block page_head_js %}
  <script src="{% static 'js/third-party/chartjs@4.5.1.js' %}"></script>
  <script src="{% static 'js/third-party/chartjs-plugin-datalabels@2.2.0.js' %}"></script>
{% endblock %}
{% block page_end_js %}
  <script type="module" src="{% static 'js/point.html.js' %}" type="module"></script>
  {% if point.alerts.items|length > 0 %}
    {% comment %}
      We only use Leaflet and the ESRI plugins on the alert tabs, so we'll
      only include them here if there are any alerts. Otherwise we don't need
      to bother!
    {% endcomment %}
    {% include "weather/scripts/leaflet.html" %}
  {% endif %}
  <script src="{% static 'js/cmi-radar.54fb0324.js' %}"
          nonce="{{ request.csp_nonce }}"
          data-wx-radar-cmi="true"
          defer></script>
{% endblock %}
{% block page_head_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/leaflet.css' %}" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/radar/cmi-radar.54fb0324.css' %}" />
{% endblock %}
{% block page_content %}
  <div class="layout-container grid-row height-full flex-column flex-no-wrap">
    {% include 'weather/partials/location-search.html' with search=False place=point.place %}
    {% if point.alerts.items|length > 0 %}
      <div class="bg-primary-darker padding-bottom-105">
        <div class="grid-container margin-top-0">
          {% include "weather/partials/alert-summary.html" with alerts=point.alerts.items %}
        </div>
      </div>
    {% endif %}
    <wx-tabbed-nav class="display-block position-relative" id="point-page-tabbed-nav">
    <div id="tablist-label" class="usa-sr-only">{{ "forecast.labels.weather-info.01" | t }}</div>
    <div class="position-sticky top-0 bg-white border-base-light border-top-0 border-bottom-2px margin-y-0">
      <div class="grid-container padding-x-0">
        <div role="tablist"
             id="point-page-tablist"
             class="tab-buttons display-flex flex-row top-4 grid-col-12"
             aria-labelledby="tablist-label">
          {% if point.alerts.items|length > 0 %}
            <button role="tab"
                    id="alerts-tab-button"
                    class="tab-button"
                    data-tab-name="alerts"
                    aria-controls="alerts">{{ "forecast.labels.alerts.01" | t }}</button>
          {% endif %}
          <button role="tab"
                  id="current-conditions-tab-button"
                  class="tab-button"
                  data-tab-name="today"
                  aria-controls="today">{{ "daily-forecast.labels.today.01" | t }}</button>
          {% if point.forecast %}
            <button role="tab"
                    id="daily-tab-button"
                    class="tab-button"
                    data-tab-name="daily"
                    aria-controls="daily">{{ "forecast.labels.seven-days.01" | t }}</button>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="bg-base-lightest padding-top-3 padding-bottom-8">
      {% if point.alerts.items|length > 0 %}
        <div class="wx-tab-container wx-focus-offset-205"
             id="alerts"
             role="tabpanel"
             aria-labelledby="alerts-tab-button"
             tabindex="0">
          {% include 'weather/partials/forecast-alerts-map.html' with alerts=point.alerts.items %}
        </div>
      {% endif %}
      <div class="wx-tab-container wx-focus-offset-205"
           id="today"
           role="tabpanel"
           aria-labelledby="current-conditions-tab-button"
           tabindex="0">
        <div class="grid-container tablet:padding-x-2 desktop:padding-x-4 padding-x-0">
          <div class="grid-row desktop__wx-grid-gap-lg">
            {% if point.observed %}
              <div class="desktop:grid-col-4 display-flex flex-column">
                {% include "weather/partials/observations.html" with obs=point.observed %}
              </div>
            {% endif %}
            {% if point.forecast %}
              <div class="desktop:grid-col-8 display-flex flex-column">
                {% if point.forecast.days|length == 0 %}
                  {% include 'weather/partials/uswds-alert.html' with level="error" body="forecast.errors.loading.01"|t %}
                {% else %}
                  {% include 'weather/partials/today-summary-forecast.html' with forecast=point.forecast astronomical_data=point.point.astronomicalData %}
                {% endif %}
              </div>
            {% else %}
              {% if point.status == 404 %}
                <div class="grid-container padding-x-0 padding-y-2 grid-col-12">
                  {% include 'weather/partials/uswds-alert.html' with level="error" body="forecast.errors.not-found.01"|t %}
                </div>
              {% else %}
                <div class="grid-container padding-x-0 padding-y-2 grid-col-12">
                  {% include 'weather/partials/uswds-alert.html' with level="error" body="forecast.errors.loading.01"|t %}
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>

        <!-- Weather Story Image here -->
        {% if weather_story %}
          {% include 'weather/partials/point-weather-story.html' with weather_story=weather_story county=point.place.countyfips %}
        {% else %}
          <div class="grid-container margin-top-4 padding-x-0 tablet:padding-x-2 desktop:padding-x-4">
            <div class="bg-accent-cool-lightest border-1px border-base-light padding-x-2 padding-y-105">
              {% if point.wfo %}
                <div class="grid-row display-flex flex-align-center">
                  <svg width="24"
                       height="24"
                       viewBox="0 0 24 24"
                       fill="none"
                       xmlns="http://www.w3.org/2000/svg"
                       aria-hidden="true">
                    <rect width="24" height="24" fill="transparent" />
                    <path d="M6 5H18V6H6V5Z" fill="#0085CA" />
                    <path d="M6 10H18V11H6V10Z" fill="#0085CA" />
                    <path d="M18 15H6V16H18V15Z" fill="#0085CA" />
                    <path d="M6 12H16V13H6V12Z" fill="#0085CA" />
                    <path d="M16 17H6V18H16V17Z" fill="#0085CA" />
                    <path d="M6 7H16V8H6V7Z" fill="#0085CA" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2H20V22H4V2ZM5 3H19V21H5V3Z" fill="#0085CA" />
                  </svg>
                  <a class="usa-link margin-left-1"
                     href="{% url "afd_by_office" wfo=point.wfo.normalized_code %}">{{ "forecast.link.area-forecast-discussion.01" | t }}</a>
                </div>
              {% endif %}
              {% if point.place.countyfips %}
                <div class="grid-row display-flex flex-align-center{% if point.wfo %} margin-top-105{% endif %}">
                  <svg width="24"
                       height="24"
                       fill="#005EA2"
                       xmlns="http://www.w3.org/2000/svg"
                       aria-hidden="true">
                    <use xlink:href="{% static 'images/uswds/sprite.svg' %}#location_city"></use>
                  </svg>
                  <a class="usa-link margin-left-1"
                     href="{% url "county_overview" countyfips=point.place.countyfips %}">{{ "weather-story.link.county-overview.01" | t }}</a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div class="grid-container tablet:padding-x-2 desktop:padding-x-4 padding-x-0">
          <div class="grid-row desktop__wx-grid-gap-lg">
            <div class="desktop:grid-col-6 wx-radar-wrapper">
              {% radar place=point.place.fullName point=point.point radar_metadata=point.radarMetadata heading_level="h3" heading_class="wx-visual-h2 text-normal text-primary-darker padding-x-2 tablet:padding-x-0 margin-top-3 margin-bottom-2" %}
            </div>
            <div class="desktop:grid-col-6 wx-satellite-wrapper">
              {% include "weather/partials/satellite.html" with point=point %}
            </div>
          </div>
        </div>
      </div>
      {% if point.forecast %}
        <wx-daily-forecast class="wx-tab-container wx-focus-offset-205" id="daily" role="tabpanel" aria-labelledby="daily-tab-button" tabindex="0">
        <h2 class="usa-sr-only">{% trans "forecast.heading.daily-forecast.01" %}</h2>
        {% include "weather/partials/forecast.html" with forecast=point.forecast %}
        </wx-daily-forecast>
      {% endif %}
      </wx-tabbed-nav>
    </div>
  </div>
{% endblock %}
