{% extends "weather/page.html" %}
{% comment %}
-- Template purpose:
--   This page tells people the weather at their (chosen) location!
-- Url: https://beta.weather.gov/point/43.156/-77.613/
{% endcomment %}
{% block head_js %}
  <script src="{% static 'js/third-party/chartjs@4.5.1.js' %}"></script>
  <script src="{% static 'js/third-party/chartjs-plugin-datalabels@2.2.0.js' %}"></script>
{% endblock %}
{% block page_end_js %}
  <script type="module" src="{% static 'js/point.html.js' %}" type="module"></script>
  {% if point.alerts.items|length > 0 %}
    {% comment %}
      We only use Leaflet and the ESRI plugins on the alert tabs, so we'll
      only include them here if there are any alerts. Otherwise we don't need
      to bother!
    {% endcomment %}
    {% include "weather/scripts/leaflet.html" %}
  {% endif %}
  <script src="{% static 'js/cmi-radar.54fb0324.js' %}"
          nonce="{{ request.csp_nonce }}"
          data-wx-radar-cmi="true"
          defer></script>
{% endblock %}
{% block page_head_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/leaflet.css' %}" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/radar/cmi-radar.54fb0324.css' %}" />
{% endblock %}
{% block page_content %}
  <div class="layout-container grid-row height-full flex-column flex-no-wrap">
    <div id="point-header"
         wx-lazy-load="{% url 'wx_point_header' lat=lat lon=lon %}">
      <!-- Skeleton Header -->
      <div class="bg-primary-dark">
        <div class="grid-container padding-y-2">
          <h1 class="text-white margin-y-0 font-sans-xl">{% if approximate_name %}{{ approximate_name }}{% else %}{{ "forecast.labels.weather-info.01" | t }}{% endif %}</h1>
        </div>
      </div>
      <div class="grid-container padding-x-0 padding-y-10 grid-col-12 display-flex flex-justify-center">
        {% include 'weather/partials/wx-loader.html' %}
      </div>
    </div>
    <wx-tabbed-nav class="display-block position-relative" id="point-page-tabbed-nav">
    <div id="tablist-label" class="usa-sr-only">{{ "forecast.labels.weather-info.01" | t }}</div>
    <div class="position-sticky top-0 bg-white border-base-light border-top-0 border-bottom-2px margin-y-0">
      <div class="grid-container padding-x-0">
        <div role="tablist"
             id="point-page-tablist"
             class="tab-buttons display-flex flex-row top-4 grid-col-12"
             aria-labelledby="tablist-label">
          <div id="alerts-tab-button-parent"
               class="display-none"
               style="display:contents">
            <button role="tab"
                    id="alerts-tab-button"
                    class="tab-button display-none"
                    data-tab-name="alerts"
                    aria-controls="alerts">{{ "forecast.labels.alerts.01" | t }}</button>
          </div>
          <button role="tab"
                  id="current-conditions-tab-button"
                  class="tab-button"
                  data-tab-name="today"
                  aria-controls="today"
                  data-selected="true">{{ "daily-forecast.labels.today.01" | t }}</button>
          <button role="tab"
                  id="daily-tab-button"
                  class="tab-button"
                  data-tab-name="daily"
                  aria-controls="daily">{{ "forecast.labels.seven-days.01" | t }}</button>
        </div>
      </div>
    </div>
    <div class="bg-base-lightest padding-top-3 padding-bottom-8">
      <div class="wx-tab-container wx-focus-offset-205"
           id="alerts"
           role="tabpanel"
           aria-labelledby="alerts-tab-button"
           tabindex="0">
        <div wx-lazy-load="{% url 'wx_point_alerts' lat=lat lon=lon %}">
          <div class="grid-container padding-x-0 padding-y-10 grid-col-12 display-flex flex-justify-center">
            {% include 'weather/partials/wx-loader.html' %}
          </div>
        </div>
      </div>
      <div class="wx-tab-container wx-focus-offset-205"
           id="today"
           role="tabpanel"
           aria-labelledby="current-conditions-tab-button"
           tabindex="0">
        <div wx-lazy-load="{% url 'wx_point_today' lat=lat lon=lon %}">
          <div class="grid-container padding-x-0 padding-y-10 grid-col-12 display-flex flex-justify-center" style="min-height: 400px;">
            {% include 'weather/partials/wx-loader.html' %}
          </div>
        </div>
      </div>
      <wx-daily-forecast class="wx-tab-container wx-focus-offset-205" id="daily" role="tabpanel" aria-labelledby="daily-tab-button" tabindex="0">
      <div wx-lazy-load="{% url 'wx_point_daily' lat=lat lon=lon %}">
        <div class="grid-container padding-x-0 padding-y-10 grid-col-12 display-flex flex-justify-center" style="min-height: 600px;">
          {% include 'weather/partials/wx-loader.html' %}
        </div>
      </div>
      </wx-daily-forecast>
    </div>
    </wx-tabbed-nav>
  </div>
</div>
{% endblock %}
