{% comment %}
-- Template purpose:
--   This template is a partial for the tab containers on
--   any of the point forecast pages. Tab containers are
--   the elements that "contain" the content of a given tab
--   in the TabbedNavigator setup.
--   This template expects to have access to a "tab_name"
--   variable that can be used to distinguish which tab is active.
--  Note on HTMX:
--   We choose to still render the containers for the other tabs, even when
--   in normal full page mode. These containers should be alert in single page mode
--   and organizing things this way simpifies the template dependencies.
{% endcomment %}
<div class="bg-base-lightest padding-top-3 padding-bottom-8">
  {# Alerts Tab Container #}
  <div class="wx-tab-container wx-focus-offset-205"
       {% if use_htmx %}
       hx-get="{% url 'point_forecast_alerts' lat=point.point.latitude lon=point.point.longitude %}"
       hx-swap="innerHTML"
       {% endif %}
       id="alerts"
       role="tabpanel"
       aria-labelledby="alerts-tab-button"
       {% if tab_name == "alerts" %}data-selected="true"{% endif %}
       tabindex="0">

    {% if tab_name == "alerts" %}
      {% include 'weather/point/alerts-tab-content.html' with alerts=point.alerts.items %}
    {% endif %}
  </div>

  {# Today Tab Container #}
  <div class="wx-tab-container wx-htmx-point-tab wx-focus-offset-205"
       {% if use_htmx %}
       hx-get="{% url 'point_forecast_today'  lat=point.point.latitude lon=point.point.longitude %}"
       hx-swap="innerHTML"
       {% endif %}
       id="today"
       role="tabpanel"
       aria-labelledby="current-conditions-tab-button"
       {% if tab_name == "today" %}data-selected="true"{% endif %}
       tabindex="0">

    {% if tab_name == "today" %}
      {% include 'weather/point/today-tab-content.html' %}
    {% endif %}
  </div>

  {# 7-Day (aka 'daily') Tab Container  #}
  <div
    {% if use_htmx %}
    hx-get="{% url 'point_forecast_seven_day' lat=point.point.latitude lon=point.point.longitude %}"
    hx-swap="innerHTML"
    {% endif %}
    class="wx-tab-container wx-focus-offset-205"
    id="daily"
    role="tabpanel"
    aria-labelledby="daily-tab-button"
    {% if tab_name == "daily" %}data-selected="true"{% endif %}
    tabindex="0">

    {% if tab_name == "daily" %}
      {% include 'weather/point/seven-day-tab-content.html' %}
    {% endif %}
  </div>
</div> 
