@use "uswds-core" as *;

/* Alert Link (table and daily overview)
-------------------------------------- */
.wx-alert-link {
  border: 1px solid;
  padding: units(1) units(1.5);
  display: inline-block;
  width: max-content;
  box-sizing: border-box;

  .wx-alert-link-inner {
    display: flex;
    align-items: center;
  }

  .hourly-table & {
    display: block;
    width: 100%;

    .wx-alert-link-inner {
      position: sticky;
      left: calc(var(--sticky-presence-offset, 6rem) + #{units(1.5)});
      width: auto;
      max-width: calc(100vw - var(--sticky-presence-offset, 7rem) - 1.75rem);
      white-space: normal;

      @include at-media("tablet") {
        width: max-content;
        max-width: none;
        white-space: nowrap;
      }
    }
  }

  & a {
    color: color("primary");

    &:visited {
      color: color("primary");
    }

    &:focus,
    &:hover {
      color: color("primary-dark");
    }

    &:active {
      color: color("primary-darker");
    }
  }

  svg {
    fill: color("accent-warm-dark");
  }
}

.wx-alert-link--warning {
  background-color: color("red-cool-5v");
  border-color: color("red-40v");

  svg {
    fill: color("red-50");
  }
}

.wx-alert-link--watch {
  background-color: color("yellow-5");
  border-color: color("yellow-50v");

  svg {
    fill: color("yellow-50v");
  }
}

.wx-alert-link--other {
  background-color: color("base-lightest");
  border-color: color("base");

  svg {
    fill: color("base-dark");
  }
}
