@use "uswds-core" as *;
@use "colors" as *;
@forward "uswds-theme";
@forward "uswds";

@for $level from 0 through 5 {
  .ghwo-chiclet[data-risk-level="#{$level}"] {
    background-color: hazard-color($level);
    border-color: hazard-color($level);
  }
}

.ghwo-chiclet[data-risk-level="1"] {
  &:hover {
    background-color: color("green-20v");
    border-color: color("green-20v");
  }

  &:active {
    background-color: color("green-20v");
    border-color: color("green-50v");
  }
}

.ghwo-chiclet[data-risk-level="2"] {
  &:hover {
    background-color: color("yellow-30v");
    border-color: color("yellow-30v");
  }

  &:active {
    background-color: color("yellow-30v");
    border-color: color("yellow-50v");
  }
}

.ghwo-chiclet[data-risk-level="3"] {
  &:hover {
    background-color: color("orange-40v");
    border-color: color("orange-40v");
  }

  &:active {
    background-color: color("orange-40v");
    border-color: color("orange-60v");
  }
}

.ghwo-chiclet[data-risk-level="4"] {
  color: white;

  &:hover {
    background-color: color("red-60v");
    border-color: color("red-60v");
  }

  &:active {
    background-color: color("red-60v");
    border-color: color("red-80v");
  }
}

.ghwo-chiclet[data-risk-level="5"] {
  color: white;

  &:hover {
    background-color: color("violet-warm-70v");
    border-color: color("violet-warm-70v");
  }

  &:active {
    background-color: color("violet-warm-70v");
    border-color: color("violet-warm-90");
  }
}

.ghwo-risk-summary-table {
  thead > tr > th:first-child,
  tbody > tr > th:first-child {
    display: none;
  }

  .ghwo-chiclet {
    pointer-events: none;
  }
}

.ghwo-chiclet {
  width: units(4);
  height: units(4);
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ghwo-chiclet-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.ghwo-chiclet:focus {
  outline: 0;
}

/* Styles for the risk legend at bottom of table */

.ghwo-risk-legend-square {
  width: units(2);
  height: units(2);
  margin-right: units(0.5);
  display: inline-block;

  @for $level from 0 through 5 {
    &[data-risk-level="#{$level}"] {
      background-color: hazard-color($level);
      @if $level == 0 {
        border: 1px solid color("gray-cool-40");
      }
    }
  }
}

@include at-media("tablet-lg") {
  .ghwo-risk-summary-table {
    thead > tr > th:first-child,
    tbody > tr > th:first-child {
      display: table-cell;
    }
  }

  .ghwo-chiclet {
    width: 50px;
    height: 32px;
  }
}
