@use "uswds-core" as *;

/* stylelint-disable scss/at-extend-no-missing-placeholder */
@use "uswds-core" as *;
@forward "uswds-theme";
@forward "uswds";

/**
 * Styles for the Listbox component
 */
wx-listbox,
wx-filterable-listbox,
wx-location-listbox {
  display: block;

  @extend .usa-combo-box__list;

  position: initial;

  [role="option"] {
    @extend .usa-combo-box__list-option;

    &[data-pseudo-focus="true"] {
      @extend .usa-combo-box__list-option--focused;
    }

    &[aria-selected="true"] {
      @extend .usa-combo-box__list-option--selected;
    }

    &[data-recent]::after {
      @include u-text("base");
      @include u-font("mono", "sm");

      content: "recent";
      float: right;
    }
  }

  [role="group"] {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .hidden {
    display: none;
  }

  .listbox-group-label {
    @extend .usa-combo-box__list-option;

    border-bottom: 0;
  }
}
