@use "uswds-core" as *;

.wx-satellite-container {
  aspect-ratio: 1/1 !important;
  min-height: 300px;
  height: auto !important;
  width: 100% !important;
  overflow: hidden;

  @include at-media("tablet") {
    aspect-ratio: 4/3 !important;
  }

  @include at-media("desktop") {
    aspect-ratio: 1/1 !important;
  }
}

wx-satellite-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

[data-wx-satellite-loading],
[data-wx-satellite-error],
[data-wx-satellite-content] {
  width: 100%;
}

[data-wx-satellite-loading],
[data-wx-satellite-error] {
  margin: auto;
}
