@use "uswds-core" as *;

wx-loader:not(.wx-loader-pop-in)[aria-hidden="true"]{
  visibility: hidden;
}

wx-loader.wx-loader-pop-in[aria-hidden="true"]{
  display: none;
}

.wx-loader-icon {
  background-image: url("../images/weather/wx_loader_animated_cloud.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (prefers-reduced-motion) {
  .wx-loader-icon {
    background-image: url("../images/weather/wx_loader_static.svg");
  }
}
