/**
 * This file contains CSS custom properties that we use
 * to set the z-index of the various components across the site,
 * especially those that might come into conflict with each other.
 */
:root {
  --hourly-table-sticky-header-z-index: 50;
  --mobile-in-page-navigation-z-index: 60;
  --point-page-tablist-area-z-index: 220;
  --site-nav-search-popout-z-index: 1600;
  --hover-buttons-z-index: 1500;
}
