{% comment %}
-- Template purpose:
--   Displays a single roadmap item.
-- Url: https://beta.weather.gov/roadmap/
{% endcomment %}
<div class="{% if forloop.first %}tablet:border-top tablet:border-base-lighter margin-top-3 tablet:margin-top-0 tablet:padding-top-2{% else %}border-top border-base-lighter margin-top-2 padding-top-2{% endif %}">
  <h3 class="text-primary-dark font-sans-md text-normal margin-top-0">{{ entry.name }}</h3>
  <p class="margin-0">{{ entry.description }}</p>
  <p class="margin-0 margin-top-105">
    <span class="text-accent-warm-darker text-bold">Outcome</span>: {{ entry.outcome }}
  </p>
  {% if forloop.last %}<div id="{{ target }}"></div>{% endif %}

  {% if entry.delivered %}
    <div class="margin-top-105">
      <div class="display-inline-block">
      <div class="wx-delivered display-flex flex-align-center">
        <svg role="img" aria-hidden="true">
          <use xlink:href="{% static 'images/uswds/sprite.svg' %}#check_circle"></use>
        </svg>
        <span class="line-height-sans-1">
          Delivered {{ entry.delivery_date | date:"n/j/y" }}
        </span>
      </div>
      </div>
    </div>
  {% endif %}
</div>
