@use "uswds-core" as *;

.wx-alert-link {
  background-color: color("accent-warm-lightest");
  border: 1px solid color("accent-warm-lighter");
  padding: units(1) units(1.5);

  & a:visited,
  & a:active,
  & a:link {
    color: initial;
    text-decoration: none;
  }

  svg {
    fill: color("accent-warm-dark");
  }
}
