@use "uswds-core" as *;

/* AlertDetails Overrides
-------------------------------------- */
wx-alerts {
  .usa-prose h4 {
    font-weight: normal !important;
    margin-top: units(3);
  }

  .usa-prose h4 + p {
    margin-top: units(0.5);
  }

  .usa-prose > ul {
    // align bullet with the text
    padding-left: 2ch;
  }

  .usa-accordion .usa-prose p {
    @include u-measure(6);
  }
}
