@use "uswds-core" as *;

.wx-alert-link {
  background-color: color("accent-warm-lightest");
  border: 1px solid color("accent-warm-lighter");
  display: block;
  padding: units(1) units(1.5);
  text-decoration: none;

  &:visited,
  &:active,
  &:link {
    color: initial;
  }

  svg {
    fill: color("accent-warm-dark");
  }
}
