@use "uswds-core" as *;

.wx-current-conditions {
  & .icon svg {
    max-width: 100%;
    max-height: 100%;

    & path.st0 {
      fill: color("primary-dark");
    }
  }

  & table td {
    padding-right: 0;
  }
}

.wx-current-conditions__temp {
  // Custom size not in typecale
  font-size: units(5) + units(0.5);
}
