@use "uswds-core" as *;

.wx-forecast-details-toggle ~ * {
    display: none;
}

.wx-forecast-details-toggle ~ h4 {
    display: block;
}

.wx-forecast-details-toggle[data-selected="charts"] ~ *:not(wx-hourly-table) {
    display: initial;
}

.wx-forecast-details-toggle[data-selected="charts"] ~ *:last-child {
    display: none;
}

.wx-forecast-details-toggle[data-selected="table"] ~ wx-hourly-table,
.wx-forecast-details-toggle[data-selected="table"] ~ *:last-child {
    display: initial;
}
