/* stylelint-disable scss/at-extend-no-missing-placeholder */
@use "uswds-core" as *;
@forward "uswds";

/**
 * Styling for generic WCAG tab based components / roles
 * Interation is goverened by the progressively enhanced
 * Tabs (wx-tabs) custom element
 */
[role="tabpanel"][data-tabpanel-selected="false"] {
    display: none;
}

/**
 * Custom styles for table/charts tab toggles
 * --------------------------------------------------------
 */
.wx-forecast-details-toggle button:hover {
    cursor: pointer;
}

.wx-forecast-details-toggle button[aria-selected="false"] {
  @extend .usa-button--outline;
}

.wx-forecast-details-toggle .usa-button-group {
    display: flex;
}

.wx-forecast-details-toggle button[role="tab"] {
    margin: 0;

    &:first-child {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

