@use "uswds-core" as *;

wx-hourly-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

wx-hourly-toggle:hover {
  cursor: pointer;
}

wx-hourly-toggle[tabindex="0"]:focus {
  outline-width: units("2px");
  outline-offset: units("2px");
}

wx-hourly-toggle[aria-expanded="false"] + .hourly-toggle-target {
  display: none;
}

wx-hourly-toggle[aria-expanded="true"] {
  margin-bottom: units(0);
}
