@use "uswds-core" as *;

/* Scroll button states
------------------------------------- */
.wx-scroll-button {
  &:hover {
    cursor: pointer;
    background-color: color("base");
  }

  &:active {
    background-color: color("base-darker");
  }
}

/* Hourly forecast table overrides
------------------------------------- */
.usa-table.hourly-table {
  td {
    min-width: units("card");
    padding-right: units(2);
    white-space: normal;
  }

  // th[scope="row"] {
  //   white-space: nowrap;
  // }

  th {
    padding-right: units(1.5);
  }

  td,
  th {
    padding-left: 0;
    vertical-align: top;

    &:first-of-type {
      padding-left: units(2);
    }
  }

  // Using class to overide usa-table styles
  .hourly-table__alert {
    background-color: color("accent-warm-lightest");
    border: 1px solid color("accent-warm-lighter");
    display: block;
    padding: units(1) units(1.5);
    text-decoration: none;

    &:visited,
    &:active,
    &:link {
      color: initial;
    }

    svg {
      fill: color("accent-warm-dark");
    }
  }

  tr[data-row-name="alert"] td,
  tr[data-row-name="alert"] th {
    border: 0;
  }

  tr[data-row-name="alert"] td {
    padding: units(1) 0;

    &:first-of-type {
      padding-left: units(2);
    }
  }

  tr[data-row-name="alert"]:last-of-type td {
    padding-bottom: 0 !important;
  }

  // Fighting specificity
  tr[data-row-name="time"] th:nth-child(2) {
    padding-left: units(2);
  }
}

// Table shadow only shows on scroll
wx-hourly-table[data-scrolled="true"] .usa-table.hourly-table th:first-of-type {
  &::after {
    content: "";
    top: 0;
    right: units(-2);
    bottom: 0;
    position: absolute;
    height: 100%;
    width: units(2);
    background-image: linear-gradient(90deg, rgba(0 0 0 / 10%), transparent);
    background-size: 50%;
    background-repeat: no-repeat;
  }
}
