@use "uswds-core" as *;

/* stylelint-disable scss/at-extend-no-missing-placeholder */
@use "uswds-core" as *;
@forward "uswds-theme";
@forward "uswds";

.wx-combo-box {
  @extend .usa-combo-box;
}

.wx-combo-box li[role="option"] {
  &:not(.wx-combo-box__list-option--focused):hover {
    background-color: color("base-lightest");
  }
}

.wx-combo-box__input {
  @extend .usa-combo-box__input;

  height: auto;
  margin: 0;
}

.wx-combo-box__list--container {
  @extend .usa-combo-box__list;

  position: initial;
}

.wx-combo-box__list {
  @extend .usa-combo-box__list;

  position: initial;
  max-height: initial;
  overflow-y: hidden;
}

.wx-combo-box__toggle-list {
  @extend .usa-combo-box__toggle-list;

  top: unset;
  bottom: unset;
}

.wx-combo-box__clear-input {
  @extend .usa-combo-box__clear-input;

  background-image: linear-gradient(
      rgba(255 255 255 / 40%),
      rgba(255 255 255 / 40%)
    ),
    url("/themes/new_weather_theme/assets/images/uswds/usa-icons/close.svg");
  opacity: 1;
  background-color: white;
}

.wx-combo-box__input-button-separator {
  @extend .usa-combo-box__input-button-separator;
}

.wx-combo-box__list-option {
  @extend .usa-combo-box__list-option;

  &[data-recent]::after {
    @include u-text("base");
    @include u-font("mono", "sm");

    content: "recent";
    float: right;
  }
}

.wx-combo-box__list-option--selected {
  @extend .usa-combo-box__list-option--selected;
}

.wx-combo-box__list-option--focused {
  @extend .usa-combo-box__list-option--focused;
}

// Get rid of magic spacing inside the location search component, so we can more
// explicitly set spacing on the outside and get the results we expect.
.wx-location-search {
  form {
    label,
    button.usa-button {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
