@use "uswds-core" as *;

/* Observation table overrides
------------------------------- */
.usa-table.observation-table {
  td,
  th {
    padding-left: 0;
    vertical-align: top;
    padding-top: units(1);
    padding-bottom: units(1);
    padding-right: units(4);
  }

  tr:first-of-type > td {
    border-top: none;
  }
  tr:last-of-type > td,
  tr:last-of-type > th {
    border-bottom: none;
  }

  margin-top: 0;
}
