@use "uswds-core" as *;

.wx-radar-container {
  aspect-ratio: 3/4;
}

@include at-media("desktop") {
  .wx-radar-container {
    aspect-ratio: 1/1;
  }
}

.wx-location-marker {
  height: 24px !important;
  width: 24px !important;
  background: #18f;
  border: 3px solid white;
  border-radius: 100%;
}

.wx-radar-legend {
  h4.wx-visual-h3 {
    @include u-text("normal");

    margin-top: 0;
  }

  .wx-radar-legend__row {
    th,
    td {
      vertical-align: top;
      border-top-color: color("base-light");
      border-bottom-color: color("base-light");
    }

    td {
      padding: 0;

      // The cell needs a height in order for
      // its contents to have something to be
      // relative to. It's an older hack, sir,
      // but it checks out.
      min-height: 1px;
    }

    .wx-radar-legend__intensity {
      // Use padding so that it goes inside
      // the border, effectively pushing
      // text content left and down from the
      // gradient.
      padding: units(1) units(2);

      // Setup the border so we can put a
      // gradient in it. We could try using
      // attr() and define the background
      // image here, but attr() is experimental
      // for properties other than content
      // so that doesn't seem safe yet.
      border-left: units(1) solid;
      border-image-slice: 1;
    }
  }
}
