@use "uswds-core" as *;

wx-tabbed-nav {
  button.tab-button {
    outline: none;
    background-color: white;
    border: none;
    border-bottom: 2px solid transparent;
    color: color("base-dark");
    cursor: pointer;
    display: inline-block;
    flex: 1 auto;
    margin-right: units(2);
    padding: units(2) 0;

    @include u-font("body", "md");

    &[data-selected] {
      @include u-text("bold");

      color: color("accent-warm-dark");
      border-bottom: 2px solid color("accent-warm-dark");
      margin-bottom: -2px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      background-color: color("base-lightest");
    }

    &:focus {
      outline-offset: units("1px");
    }

    &:active {
      color: color("accent-warm-darker");
    }

    @include at-media("tablet") {
      margin-left: units(2);

      &:last-of-type {
        margin-right: units(2);
      }
    }

    @include at-media("desktop") {
      margin-left: units(4);

      &:last-of-type {
        margin-right: units(4);
      }
    }
  }

  .wx-tab-container {
    display: none;

    &[data-selected] {
      display: block;
    }
  }
}
