@use "uswds-core" as *;

tabbed-nav {
  button.tab-button {
    outline: none;
    background-color: white;
    border: none;
    border-bottom: 2px solid transparent;
    display: inline-block;
    padding: 0;
    color: rgb(0 133 202 / 100%);

    @include u-font("body", "md");

    &[data-selected] {
      border-bottom: 2px solid rgb(0 133 202 / 100%);
    }

    &:focus {
      outline-offset: units(1);
    }
  }

  .tab-container {
    display: none;

    &[data-selected] {
      display: block;
    }
  }
}
