@use "uswds-core" as *;

/* Flex custom utilities 
------------------------------------- */
.flex-basis-auto {
  flex-basis: auto;
}

.flex-basis-100 {
  flex-basis: 100%;
}

@include at-media(mobile-lg) {
  .mobile-lg__flex-basis-100 {
    flex-basis: 100%;
  }

  .mobile-lg__flex-basis-auto {
    flex-basis: auto;
  }

  .mobile-lg__flex-align-center {
    align-items: center;
  }
}

@include at-media(tablet) {
  .tablet__flex-justify-start {
    justify-content: flex-start;
  }
}

/* Focus ring offset utility
------------------------------------- */
.focus-offset-205 {
  &:focus {
    outline-offset: units(2.5);
  }
}

/* Custom isolation utilities
------------------------------------- */
.isolation-isolate {
  isolation: isolate;
}

/* Custom width responsive utilities
------------------------------------- */
.tablet__maxw10 {
  @include at-media("tablet") {
    @include u-maxw(10);
  }
}

/* Unstyle list utilities 
------------------------------------- */
.usa-list--unstyled .li-margin-bottom-1 {
  margin-bottom: units(1);
}


/* Custom unstyle button utilities
------------------------------------- */
.wx-button--unstyled-light {
  color: white;

  &:visited {
    color: white;
  }

  &:hover {
    color: color("primary-lighter");
  }

  &:active {
    color: color("accent-cool-lighter");
  }
}


/* Column utility
------------------------------------- */
.wx-col-2 {
  column-count: 2;
  column-gap: units(4);

  li {
    break-inside: avoid-column;
  }
}

