@use "uswds-core" as *;

body {
  --color-base: #{color("base")};
  --color-base-lighter: #{color("base-lighter")};
  --color-base-lightest: #{color("base-lightest")};
  --color-primary: #{color("primary")};
  --color-primary-dark: #{color("primary-dark")};
  --color-primary-light: #{color("primary-light")};

  --font-family-mono: #{font-family("mono")};
}
