@use "uswds-core" as *;
@forward "uswds-theme";
@forward "uswds";

.wx-wfo-info {
  .wx-wfo-image img {
    min-width: 100%;
  }

  .address {
    margin-top: 0;
  }

  .phone a,
  .email a,
  .address a {
    @extend .usa-link;
  }
}

@include at-media("tablet") {
  .wx-wfo-info {
    .wx-wfo-image img {
      max-height: 200px;
      object-fit: cover;
    }
  }
}
