{% comment %}
-- Template purpose:
--   Display a non-critical component error alert.
-- Used by: templatetags/weather_partials.py render_non_critical_error_component

    message:
        the translated message to display
        
{% endcomment %}
<div class="padding-x-2 tablet:padding-x-0">
  <div class="non-critical-component-error">
    <svg class="usa-icon height-3 width-3" aria-hidden="true" role="img">
      <use xlink:href="/public/images/uswds/sprite.svg#report"></use>
    </svg>
    <p class="font-body-sm">{{ message }}</p>
  </div>
</div>
