<div class="email">
  <span class="text-bold text-primary-darker">
    {{ "node.fields.labels.field_wfo_email.01" | t }}:
  </span>
  {% for item in items %}
    <a href="mailto:{{ item.content }}">{{ item.content }}</a>
  {% endfor %}
</div>