{% for item in items %}
<li class="li-margin-bottom-2">
  <a href="{{ item.content }}" class="usa-link display-flex flex-align-center">
    <svg class="usa-icon usa-icon--size-3 text-primary-darker margin-right-1 margin-top-neg-2px" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="{{ "/themes/new_weather_theme/assets/images/uswds/sprite.svg#x"}}"></use>
    </svg>
    <span class="">{{ "X (Twitter)" | t }}</span>
    {% include '@new_weather_theme/partials/external-link-decoration.html.twig' %}
  </a>
</li>
{% endfor %}
