<ul>
{% for item in items %}
<li class="li-margin-bottom-1">
  <a href="{{ item.content }}" class="usa-link display-flex flex-align-center text-no-underline">
    <svg class="usa-icon usa-icon--size-3 text-primary-darker margin-right-1 margin-top-neg-2px" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="{{ "/themes/new_weather_theme/assets/images/uswds/sprite.svg#twitter"}}"></use>
    </svg>
      <span class="">{{ "Twitter" | t }}</span>
  </a>
</li>
{% endfor %}
</ul>