<div class="phone">
  <span class="text-bold text-primary-darker">
    {{ "node.fields.labels.field_phone_number_opt.01" | t }}:
  </span>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>