{% extends "weather/page.html" %}
{% comment %}
-- Template purpose:
--   Display information about a weather forecast office (WFO).
-- Url: https://beta.weather.gov/offices/arx/
{% endcomment %}
{% block head_js %}
  <script src="{% static 'js/office.html.js' %}" type="module"></script>
{% endblock %}
{% block page_content %}
  <div class="wx-wfo-info margin-bottom-10">
    {% if content.field_wfo_image is not empty %}
      <div class="wx-wfo-image grid-container padding-0 tablet:padding-x-2 desktop:padding-x-4">
        {{ content.field_wfo_image }}
      </div>
    {% endif %}
    <div class="grid-container">
      <div class="grid-row margin-bottom-2">
        <div class="grid-col">
          <h1 class="text-normal font-heading-2xl line-height-heading-3 text-primary-darker margin-top-3 desktop:margin-bottom-3">
            {% trans_with_args "wfo-info.labels.wfo.01" wfoName=office.name wfoCode=office.code %}
          </h1>
          <div class="font-body-md measure-6">
            <p class="margin-top-0 margin-bottom-2">{{"wfo-info.text.intro.01" | t }}</p>
            <p class="margin-y-2">{{"wfo-info.text.intro.02" | t }}</p>
          </div>
        </div>
      </div>
      <div class="grid-row grid-gap">
        {% if office.about %}
          <div class="grid-col-12 tablet:grid-col-4">
            <h2 class="font-sans-xl text-normal text-primary-darker margin-top-0">{{ "wfo-info.labels.about.01" | t }}</h2>
            {{ office.about | safe }}
          </div>
        {% endif %}
        <div class="grid-col-12{% if office.about %} tablet:grid-col-8{% endif %}">
          <figure class="margin-0">
            <img src="{% static 'images/wfos/'|add:office.code|add:'.png' %}" alt="">
            <figcaption class="font-sans-xs">
              {% trans_with_args "wfo-info.caption.coverage-area-map.01" wfo=office.name %}
              <p class="usa-sr-only">{% trans_with_args "wfo-info.caption+aria.coverage-area-map.01" counties=counties %}</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="grid-row margin-top-4">
        <div class="grid-col-12 border-top-1px border-base-light">
          <h2 class="font-sans-xl text-normal text-primary-darker padding-top-105 margin-top-0 margin-bottom-2">
            {{ "wfo-info.heading.local-expertise.01" | t }}
          </h2>
          <p class="font-sans-sm measure-6">{{"wfo-info.text.local-expertise.01"|t}}</p>
          <div class="grid-col-12">
            <h3 class="font-body-lg text-normal text-primary-darker margin-top-3 margin-bottom-2">
              {{ "wfo-info.heading.forecast-discussion.01" | t }}
            </h3>
            <div class="font-body-sm measure-6 line-height-body-4">
              <p class="measure-6">{{ "wfo-info.text.forecast-discussion.01" | t }}</p>
              <a class="usa-link" href="/afd/{{ office.code|lower }}">{{ "wfo-info.link.area-forecast-discussion.01" | t }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col-12">
          <h3 class="font-body-lg text-normal text-primary-darker margin-top-3 margin-bottom-2">
            {{ "wfo-info.heading.briefing.01" | t }}
          </h3>
          <div class="font-body-sm measure-6 line-height-body-4">
            <p class="measure-6">{{ "wfo-info.text.briefing.01" | t }}</p>
            {% if briefing.error %}
              <div class="usa-alert usa-alert--error margin-bottom-2">
                <div class=" usa-alert__body">
                  <div class="usa-alert__text">
                    {% trans_with_args "There was an error loading briefings for the {wfo} WFO" wfo=office.name %}
                  </div>
                </div>
              </div>
            {% endif %}
            {% if briefing and not briefing.error %}
              <a class="usa-link" href="{{ briefing.download }}">{{ "wfo-info.link.briefing.01" | t }}</a>
            {% elif not briefing %}
              {{ "county.briefing.no-briefing.01" | t }}
            {% endif %}
          </div>
        </div>
      </div>
      {# TODO: The contact information is not currently in the CMS #}
      {% if office.has_contact %}
        <div class="grid-row margin-top-2">
          <h2 class="font-sans-xl border-top-1px border-base-light text-normal text-primary-darker margin-bottom-0 padding-top-105 margin-top-4">
            {{ "wfo-info.heading.contact-us.01" | t }}
          </h2>
          {% if office.has_first_pane %}
            <address class="grid-col-12 tablet:grid-col-4">
              {% if office.phone %}
                {% comment %}
                # Taken from
                # web/themes/new_weather_theme/templates/field/field--node--field-phone-number-opt.html.twig
                {% endcomment %}
                <div class="wfo-phone">
                  <span class="text-bold text-primary-darker">{{ "node.fields.labels.field_phone_number_opt.01" | t }}:</span>
                  <a class="usa-link" href="tel:{{ office.phone }}">{{ office.phone }}</a>
                </div>
              {% endif %}
              {% if office.email %}
                {% comment %}
                # Taken from
                # web/themes/new_weather_theme/templates/field/field--node--field-wfo_email.html.twig
                {% endcomment %}
                <div class="wfo-email{% if office.phone %} margin-top-105{% endif %}">
                  <span class="text-bold text-primary-darker">{{ "node.fields.labels.field_wfo_email.01" | t }}:</span>
                  <a class="usa-link" href="mailto:{{ office.email }}">{{ office.email }}</a>
                </div>
              {% endif %}
              {% if office.address %}
                {% comment %}
                # Taken from
                # web/themes/new_weather_theme/templates/field/field--node--field-address.html.twig
                {% endcomment %}
                <div class="wfo-address{% if office.phone or office.address %} margin-top-105{% endif %}">
                  <span class="text-bold text-primary-darker">{{ "node.fields.labels.field_address.01" | t }}:</span>
                  <span class="text-pre-line line-height-sans-3">{{ office.address }}</span>
                </div>
              {% endif %}
            </address>
          {% endif %}
          <div class="grid-col-12 tablet:grid-col-8 {% if office.has_first_pane %}margin-top-2 tablet:margin-top-0{% endif %}">
            {% if office.has_social %}
              <ul class="usa-list usa-list--unstyled">
                {% if office.facebook %}
                  {% comment %}
                  # Taken from
                  # web/themes/new_weather_theme/templates/field/field--node--field-facebook-url.html.twig
                  {% endcomment %}
                  <li class="li-margin-bottom-2">
                    <a href="{{ office.facebook }}"
                       class="usa-link display-flex flex-align-center">
                      <svg class="usa-icon usa-icon--size-3 text-primary-darker margin-right-1 margin-top-neg-2px"
                           aria-hidden="true"
                           focusable="false"
                           role="img">
                        <use xlink:href="{% static 'images/uswds/sprite.svg' %}#facebook"></use>
                      </svg>
                      <span>{{ "wfo.labels.facebook.01" | t }}</span>
                      <span class="usa-sr-only">, external link</span>
                      <svg class="margin-left-05 usa-icon"
                           aria-hidden="true"
                           focusable="false"
                           role="img">
                        <use xlink:href="{% static 'images/uswds/sprite.svg' %}#launch"></use>
                      </svg>
                    </a>
                  </li>
                {% endif %}
                {% if office.twitter %}
                  {% comment %}
                  # Taken from
                  # web/themes/new_weather_theme/templates/field/field--node--field-twitter-url.html.twig
                  {% endcomment %}
                  <li class="li-margin-bottom-2">
                    <a href="{{ office.twitter }}"
                       class="usa-link display-flex flex-align-center">
                      <svg class="usa-icon usa-icon--size-3 text-primary-darker margin-right-1 margin-top-neg-2px"
                           aria-hidden="true"
                           focusable="false"
                           role="img">
                        <use xlink:href="{% static 'images/uswds/sprite.svg' %}#x"></use>
                      </svg>
                      <span>{{ "wfo.labels.twitter.01" | t }}</span>
                      <span class="usa-sr-only">, external link</span>
                      <svg class="margin-left-05 usa-icon"
                           aria-hidden="true"
                           focusable="false"
                           role="img">
                        <use xlink:href="{% static 'images/uswds/sprite.svg' %}#launch"></use>
                      </svg>
                    </a>
                  </li>
                {% endif %}
                {% if office.youtube %}
                  {% comment %}
                  # Taken from
                  # web/themes/new_weather_theme/templates/field/field--node--field-youtube-url.html.twig
                  {% endcomment %}
                  <li class="li-margin-bottom-2">
                    <a href="{{ office.youtube }}"
                       class="usa-link display-flex flex-align-center">
                      <svg class="usa-icon usa-icon--size-3 text-primary-darker margin-right-1 margin-top-neg-2px"
                           aria-hidden="true"
                           focusable="false"
                           role="img">
                        <use xlink:href="{% static 'images/uswds/sprite.svg' %}#youtube"></use>
                      </svg>
                      <span>{{ "wfo.labels.youtube.01" | t }}</span>
                      <span class="usa-sr-only">, external link</span>
                      <svg class="margin-left-05 usa-icon"
                           aria-hidden="true"
                           focusable="false"
                           role="img">
                        <use xlink:href="{% static 'images/uswds/sprite.svg' %}#launch"></use>
                      </svg>
                    </a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
