[flake8]
max-line-length = 120
max-complexity = 10
# E203 Whitespace before ':'
extend-ignore = E203
# F401 Module imported but unused
# F403 'from module import *' used
# E402 Module level import not at top of file
per-file-ignores = __init__.py:F401,F403,E402
exclude =
        .venv