
<table>
  <thead>
    <tr>
      <th/>
      <th>Alert name</th>
      <th>Type</th>
    </tr>
  <tbody>
  {% for alert in content.alertTypes %}
    <tr>
      <th>{{ loop.index }}</th>
      <td>{{ alert.alert | title }}</td>
      <td>{{ alert.kind }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>