{% extends "block.html.twig" %}
{#
/**
* @file
* Theme override for a branding block.
*
* Each branding element variable (logo, name, slogan) is only available if
* enabled in the block configuration.
*
* Available variables:
* - site_logo: Logo for site as defined in Appearance or theme settings.
* - site_name: Name for site as defined in Site information settings.
* - site_slogan: Slogan for site as defined in Site information settings.
*/
#}
{% block content %}
<a href="{{ path('<front>') }}" class="display-flex flex-align-center text-no-underline margin-y-4" rel="home">
  {% if site_logo %}
  <img class="height-9" src="{{ site_logo }}" alt=""/>
  {% endif %}
  <div class="site-info padding-x-2 display-flex flex-column flex-align-start">
    {% if site_name %}
    <span class="site-name display-block font-heading-lg desktop:font-heading-xl text-primary text-bold">
      {{ site_name }}
    </span>
    {% endif %}
    {% if site_slogan %}
    <span class="site-slogan display-block font-sans-2xs desktop:font-sans-xs text-base-dark padding-left-05">
      {{ site_slogan  }}
    </span>
    {% endif %} 
  </div>
  <span class="display-block usa-tag margin-left-1 bg-gold text-black">Beta</span>
</a>
{% endblock %}
