<div class="grid-container margin-top-2 tablet:margin-top-3 padding-x-2">
  <div class="grid-row">
    <div class="grid-col tablet-lg:grid-offset-2">
      <h3 class="text-normal text-primary-darker">{{ "Forecast" | t }}</h3>
    </div>
  </div>
</div>
<div class="grid-container padding-x-2"> 
  <div class="wx-hourly-forecast-block margin-x-neg-2 tablet:margin-x-0">
    {% if content.error %}
      {% set message = "There was an error loading the hourly forecast." | t %}
      {% include '@new_weather_theme/partials/uswds-alert.html.twig' with { 'level': "error", body: message } %}
    {% else %}
      {% include '@new_weather_theme/partials/hourly-table.html.twig'
        with {
          for: "Today",
          hours: content.hours,
          alertPeriods: content.alertPeriods
        }
      %}
    {% endif %}
  </div>
</div>

