<div class="daily-forecast-block">
  {{ attach_library('new_weather_theme/hourly-toggle') }}
  {% if content.error %}
    {% set message = "There was an error loading the daily forecast." | t %}
  {% include '@new_weather_theme/partials/uswds-alert.html.twig' with { 'level': "error", body: message } %}
  {% else %}

    <div class="grid-container padding-x-0 tablet:padding-x-2">
      <ol class="usa-list--unstyled">
      {# Attempt to render the period(s) associated with the current day #}
        {% if content.today %}
          {% set precipHours = content.precipitationPeriods[0] %}
          {% include '@new_weather_theme/partials/daily-forecast-list-item.html.twig' with { 'periods': content.today, 'dayHours': content.todayHourly, 'alertPeriods': content.todayAlerts, 'precipHours': precipHours, 'dayLabel': "Today" | t } %}
          {% set precipIndex = 1 %}
      {% endif %}

      {#  Render periods associated with future days, in detail #}
      {%  for data in content.detailed %}
        {% set precipHours = content.precipitationPeriods[loop.index0 + precipIndex] %}
        {% include '@new_weather_theme/partials/daily-forecast-list-item.html.twig' with { 'periods': [data.daytime, data.nighttime], 'dayHours': data.hourlyPeriods, 'alertPeriods': data.alertPeriods, 'precipHours': precipHours } %}
      {%  endfor %}
    </ol>
  </div>
  {% endif %}
</div>
