<div class="hourly-forecast-block">
  {{ attach_library('new_weather_theme/hourly_table') }}
  <h2>{{ "Hourly forecast" | t }}</h2>
  {% if content.error %}
    {% set message = "There was an error loading the hourly forecast." | t %}
    {% include '@new_weather_theme/partials/uswds-alert.html.twig' with { 'level': "error", body: message } %}
  {% else %}
      {% include '@new_weather_theme/partials/hourly-table.html.twig' with { 'hours': content.hours, 'alertPeriods': content.alertPeriods  } %}
  {% endif %}
</div>
