<form class="usa-form" data-location-search>
<label class="usa-label" for="weather-location-search">Search for a location</label>
<div class="usa-combo-box" data-filter=".*">
  <select class="usa-select" name="weather location" id="weather-location-search">

  </select>
</div>

<!--
  <label class="usa-label" for="weather-location-search">
    Search for a location
  </label>
  <div class="usa-input-group">
    <div class="usa-input-prefix" aria-hidden="true">
      <svg aria-hidden="true" role="img" focusable="false" class="usa-icon">
        <use xlink:href="{{ directory }}/assets/uswds/img/sprite.svg#public"></use>
      </svg>
    </div>
    <input
      id="weather-location-search"
      class="usa-input"
    />
  </div-->
</form>