{% if content.body %}
<h4 class="wx-visual-h3 text-primary-dark text-normal"> {{ "safety.labels.tips.01" | t }} </h3>
<div class="usa-prose wx-safety-tips">
{{- content.body | raw -}}
</div>
{% endif %}
