---
default_config: &defaults
  buildpacks:
    # We need the "apt" buildpack to install a MySQL client for Drush; see apt.yml
    - https://github.com/cloudfoundry/apt-buildpack.git
    - php_buildpack
  disk_quota: 2G
  timeout: 180
  env:
    PHP_INI_SCAN_DIR: /home/vcap/app/php/etc/:/home/vcap/app/php/etc/php.ini.d/
    NEWRELIC_LICENSE: ((newrelic-license))
    API_INTEROP_URL: https://api-weathergov-james.app.cloud.gov
  services:
    - database
    - storage
    - secrets

applications:
  - name: weathergov-james
    <<: *defaults
    memory: 256M
    instances: 1
    random-route: false

  - name: proxy-weathergov-james
    stack: cflinuxfs4
    memory: 64M
    instances: 1
    buildpacks:
      - binary_buildpack
    health-check-type: process
    path: ../proxy
    command: ./caddy run --config ./Caddyfile
    env:
      ALLOWED_IPS: ((allowed-ips))
      SPACE_NAME: james
    random-route: false

  - name: api-weathergov-james
    stack: cflinuxfs4
    memory: 1G
    instances: 1
    buildpacks:
      - nodejs_buildpack
    env:
      NEWRELIC_LICENSE: ((newrelic-license))
      PRODUCTION: true
    health-check-type: process
    path: ../api-interop-layer
    random-route: false
    services:
      - database
