  <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="{{ 'Important links' | t }}">
    <div class="usa-identifier__container padding-0">
      <ul class="usa-identifier__required-links-list">
        {% for item in items %}
          <li class="usa-identifier__required-links-item">
            <a href="{{ item.url }}" class="usa-identifier__required-link usa-link">
              {{ item.title }} 
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>