{% set periodLength = periods | length %}
{% for alertInfo in alertPeriods %}
  {% set remainingCount = periodLength - alertInfo.duration - alertInfo.periodIndex %}
  <tr data-row-name="alert">
    <th scope="row" class="position-sticky left-0 font-family-mono text-primary-dark font-mono-xs text-uppercase z-400"><span class="">{{ "Alert" | t }}</span></th>
    {% if alertInfo.periodIndex > 0 %}
      <td colspan="{{ alertInfo.periodIndex }}"></td>
    {% endif %}
    <td colspan="{{alertInfo.duration}}">
      {% include "@new_weather_theme/partials/alert-link.html.twig"
         with { alertID: alertInfo.alert.alertId, alertType: alertInfo.alert.event } %}
    </td>
    {% if remainingCount > 0 %}
      <td colspan="{{ remainingCount }}"></td>
    {% endif %}
  </tr>
{% endfor %}
