<div class="daily-high-low display-flex flex-column flex-align-center padding-x-4px margin-right-2">
  <span class="display-block text-bold margin-bottom-05 font-mono-3xs font-family-mono text-base-dark text-bold">
    {{period.isDaytime ? "High" | t | upper : "Low" | t | upper}}
  </span>
  <span class="font-ui-lg display-flex flex-row flex-align-start">
    {{ period.temperature  }}<span aria-hidden="true" class="font-body-3xs margin-top-2px padding-left-1px">&deg;F</span>
    <span class="usa-sr-only">℉</span>
  </span>
</div>
