{% set temps = periods | map(p => p.temperature) %}
{% set low = min(temps) %}
{% set high = max(temps) %}
<div class="daily-high-low display-flex flex-column flex-align-center padding-x-4px margin-right-2">
  <span class="display-block text-bold margin-bottom-05 font-mono-3xs font-family-mono text-base-dark text-bold">
    {{ "High" | t | upper }}
  </span>
  <span class="font-ui-lg display-flex flex-row flex-align-start">
    {{ high  }}<span aria-hidden="true" class="font-body-3xs margin-top-2px padding-left-1px">&deg;F</span>
    <span class="usa-sr-only">℉</span>
  </span>
</div>
{% if low != null %}
<div class="daily-high-low display-flex flex-column flex-align-center padding-x-4px margin-right-2">
  <span class="display-block text-bold margin-bottom-05 font-mono-3xs font-family-mono text-base-dark text-bold">
    {{ "Low" | t | upper }}
  </span>
  <span class="font-ui-lg display-flex flex-row flex-align-start">
    {{ low  }}<span aria-hidden="true" class="font-body-3xs margin-top-2px padding-left-1px">&deg;F</span>
    <span class="usa-sr-only">℉</span>
  </span>
</div>
{% endif %}
