<div class="daily-high-low display-flex flex-column flex-align-center padding-x-4px margin-right-1">
  <span class="display-block text-bold margin-bottom-05" style="font-size:10px">
    {{period.isDaytime ? "High" | t | upper : "Low" | t | upper}}
  </span>
  <span class="font-ui-lg display-flex flex-row flex-align-start">
    {{ period.temperature  }}
    <span class="font-body-3xs">℉</span>
  </span>
</div>
