<span class="usa-sr-only">, external link</span>
<svg class="margin-left-05 usa-icon" aria-hidden="true" focusable="false" role="img">
  <use xlink:href="{{ "/themes/new_weather_theme/assets/images/uswds/sprite.svg#launch"}}"></use>
</svg>
