<div class="wx-forecast-details-toggle" data-selected="table">
    <ul class="usa-button-group usa-button-group--segmented">
        <li class="usa-button-group__item">
            <button type="button" class="usa-button" data-selection-name="table">
                {{"Table" | t}}
            </button>
        </li>
        <li class="usa-button-group__item">
            <button type="button" class="usa-button usa-button--outline" data-selection-name="charts">
                {{"Charts" | t}}
            </button>
        </li>
    </ul>
</div>
