<div class="wx-forecast-details-toggle grid-row grid-col-12 margin-y-205" data-selected="table">
    <ul class="usa-button-group usa-button-group--segmented desktop:grid-col-4">
        <li class="usa-button-group__item flex-1 display-flex">
            <button type="button" class="usa-button flex-1" data-selection-name="table">
                {{"Table" | t}}
            </button>
        </li>
        <li class="usa-button-group__item flex-1 display-flex">
            <button type="button" class="usa-button usa-button--outline flex-1" data-selection-name="charts">
                {{"Charts" | t}}
            </button>
        </li>
    </ul>
</div>
