{#
This partial expects an array of forecast period
assoc arrays (as formatted by the WeatherDataService),
usually of size 2 corresponding to both daytime and
nighttime periods.

In some cases -- like the case of the current day -- there might
only be a nighttime period.
#}
{{dump(content)}}
<nav class="wx-quick-forecast">
    {% for day in content %}
        {% include '@new_weather_theme/partials/quick-forecast-link-item.html.twig'
        with { dayIndex: loop.index0 }%}
    {% endfor %}
</nav> 
