<wx-loader class="display-flex flex-row flex-align-center">
    <div class="wx-loader-icon display-block height-4 width-4 margin-right-05"></div>
    <span class="wx-loader-text">
        {{ "Loading the forecast" | t }}...
    </span>
</wx-loader>
