<div class="wx-loader display-none flex-row flex-align-center">
    <div class="wx-loader-icon display-block height-4 width-4"></div>
    <span class="wx-loader-text">
        {{ "Loading the forecast" | t }}...
    </span>
</div>
