{% extends "weather/page.html" %}
{% comment %}
-- Template purpose:
--   Display weather briefings for a state.
-- Url: https://beta.weather.gov/county/MN/analysis/
{% endcomment %}
{% block head_link %}
  <link rel="prefetch" href="{% url 'state_alerts' state.state %}" />
  <link rel="prefetch" href="{% url 'state_risks' state.state %}" />
  <link rel="prefetch" href="{% url 'state_radar' state.state %}" />
{% endblock %}
{% block head_js %}{{ state.public|json_script:"state-data" }}{% endblock %}
{% block page_end_js %}
  <script type="module"
          src="{% static 'js/state/analysis.html.js' %}"
          type="module"></script>
{% endblock %}
{% block page_content %}
  <div class="height-full display-flex flex-column">
    {% include "weather/state/name.html" with state_name=state.name %}
    <wx-tabbed-nav class="display-block position-relative flex-1" id="state-page-tabbed-nav">
    {% include "weather/state/tabs.html" with url_name=request.resolver_match.url_name %}
    <div class="display-flex flex-column flex-no-wrap bg-base-lightest padding-top-3 padding-bottom-4">
      <div class="flex-1 wx-focus-offset-205"
           id="analysis"
           aria-labelledby="analysis-tab-button"
           tabindex="0">
        <div class="grid-container margin-top-2 margin-bottom-8 desktop:margin-bottom-10">
          <h2 class="text-normal text-primary-darker">{{ "state.heading.analysis.01" | t }}</h2>
          <div class="grid-col-12 desktop:grid-col-12">
            <p>Analysis</p>
          </div>
        </div>
      </div>
    </div>
    </wx-tabbed-nav>
    {% include 'weather/partials/state-links.html' with state_name=state.name %}
  </div>
  {% endblock %}
