{% extends "weather/page.html" %}
{% comment %}
-- Template purpose:
--   Display weather briefings for a state.
-- Url: https://beta.weather.gov/forecast/state/MN/analysis/
{% endcomment %}
{% block head_link %}
  <link rel="prefetch" href="{% url 'state_alerts' state_abbrev %}" />
  <link rel="prefetch" href="{% url 'state_risks' state_abbrev %}" />
  <link rel="prefetch" href="{% url 'state_radar' state_abbrev %}" />
{% endblock %}
{% block head_js %}{{ state_public|json_script:"state-data" }}{% endblock %}
{% block page_end_js %}
  <script type="module"
          src="{% static 'js/state/analysis.html.js' %}"
          type="module"></script>
{% endblock %}
{% block page_content %}
  <div class="height-full display-flex flex-column">
    {% include "weather/state/name.html" with state_name=state_name %}
    <wx-tabbed-nav class="display-block position-relative flex-1" id="state-page-tabbed-nav">
      {% include "weather/state/tabs.html" with url_name=request.resolver_match.url_name %}
      <div class="display-flex flex-column flex-no-wrap bg-base-white padding-top-3 padding-bottom-4">
        <div class="flex-1 wx-focus-offset-205"
             id="analysis"
             aria-labelledby="analysis-tab-button"
             tabindex="0">
          <div class="grid-container">
            <h2 class="font-sans-xl text-primary-darker margin-top-0 text-normal">
              {% translate_plural_with_args "county.briefing.header.01" 2 %}
            </h2>
            <div class="grid-col-12 desktop:grid-col-12">
              {% include "weather/state/briefings.html" %}
            </div>
            <h2 class="font-sans-xl text-primary-darker text-normal margin-top-4">
              {{"wfo-info.heading.forecast-discussion.01"|t}}
            </h2>
            <ul id="state-afds" class="add-list-reset tablet-lg__wx-col-2">
              {% for wfo in wfo_data %}
                <li class="afd-link-item display-flex flex-align-start padding-bottom-2">
                  <img src="{% static 'images/weather/wx_document_afd.svg' %}" />
                  <a class="usa-link margin-left-1"
                     href="{% url 'afd_by_office' wfo=wfo.code %}">{% trans_with_args "weather-story.link.area-forecast-discussion.02" office_name=wfo.name %}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </wx-tabbed-nav>
    {% include 'weather/partials/state-links.html' with state_name=state_name %}
  </div>
{% endblock %}
