<div class="grid-col-12 tablet-lg__wx-col-2" id="briefing-container">
  {% if active_briefings|length %}
    <ul class="state-active-briefings add-list-reset grid-container padding-x-0 margin-bottom-205">
      {% for briefing_data in active_briefings %}
        {% if not briefing_data.error %}
          <li class="state-active-briefing margin-bottom-2">
            {% if briefing_data.briefing %}
              <div class="grid-row font-family-mono font-mono-xs text-base-dark">
                <div class="grid-col-12 display-block tablet:grid-col-auto text-uppercase margin-right-1 margin-bottom-05">
                  {# djlint:off #}
              {% if briefing_data.briefing.updateTime %}
                <span>{{ "state.briefing.created.01" | t }}</span>
              {% endif %}
                  {# djlint:on #}
                </div>
                <div class="grid-col-12 display-block">
                  {% if briefing_data.briefing.updateTime %}
                    <time datetime="{{ briefing_data.briefing.updateTime }}">
                      {{ briefing_data.briefing.updateTime|date:"l, M j, Y, g:i A e" }}
                    </time>
                  {% endif %}
                </div>
              </div>
              <div class="grid-col-12 margin-top-1">
                <svg role="img"
                     class="usa-icon width-3 height-3 text-primary"
                     aria-hidden="true">
                  <use xlink:href="{% static 'images/uswds/sprite.svg' %}#file_download"></use>
                </svg>
                <a href="{{ briefing_data.briefing.download }}"
                   class="usa-link line-height-body-4">{% trans_with_args "state.briefing.link-label.01" wfoName=briefing_data.wfo_name %} [PDF]</a>
              </div>
            {% else %}
              {% trans_with_args "No active briefing for {wfo} WFO" wfo=briefing_data.wfo_name %}
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
      {% if error_briefing_wfos|length > 0 %}
        <li>
          {% render_non_critical_error_component component_name="state_briefings" wfo_error_list=error_briefing_wfos all_briefings_error=all_briefings_error %}
        </li>
      {% endif %}
    </ul>
  {% else %}
    No recent briefing available
  {% endif %}
</div>
{% if active_briefings and empty_briefings %}
  <p class="margin-bottom-4">
    <span>{{"state.briefings-missing.analysis.01"|t}}</span>
    {% for briefing in empty_briefings %}
      <span>{{ briefing.wfo_name }}
        {% if not forloop.last %},{% endif %}
      </span>
    {% endfor %}
  </p>
{% endif %}
