{% extends "weather/page.html" %}
{% comment %}
-- Template purpose:
--   Display the 7-day weather risk overview (GHWO) for a state.
-- Url: https://beta.weather.gov/county/MN/risks/
{% endcomment %}
{% block head_js %}{{ state.public|json_script:"state-data" }}{% endblock %}
{% block page_end_js %}
  <script type="module"
          src="{% static 'js/state/risks.html.js' %}"
          type="module"></script>
{% endblock %}
{% block page_content %}
  <div class="layout-container grid-row height-full flex-column flex-no-wrap">
    {% include "weather/state/name.html" with state_name=state.name %}
    <wx-tabbed-nav class="display-block position-relative" id="state-page-tabbed-nav">
    {% include "weather/state/tabs.html" with url_name=request.resolver_match.url_name %}
    <div class="bg-base-lightest padding-top-3 padding-bottom-8">
      <div class="wx-focus-offset-205"
           id="risks"
           aria-labelledby="risks-tab-button"
           tabindex="0">
        <div class="grid-container margin-top-2 margin-bottom-8 desktop:margin-bottom-10">
          <h2 class="text-normal text-primary-darker">{{ "state.heading.risks.01" | t }}</h2>
          <div class="grid-col-12 desktop:grid-col-12">
            <p>Risks</p>
          </div>
        </div>
      </div>
    </div>
    </wx-tabbed-nav>
  </div>
{% endblock %}
