{% load weather_i18n %}
{% load weather_partials %}
<div class="grid-container tablet:padding-x-2 desktop:padding-x-4 padding-x-0">
  <div class="grid-row desktop__wx-grid-gap-lg">
    {% if point.observed %}
      <div class="desktop:grid-col-4 display-flex flex-column">
        {% include "weather/partials/observations.html" with obs=point.observed %}
      </div>
    {% endif %}
    {% if point.forecast %}
      <div class="desktop:grid-col-8 display-flex flex-column">
        {% if point.forecast.days|length == 0 %}
          {% include 'weather/partials/uswds-alert.html' with level="error" body="forecast.errors.loading.01"|t %}
        {% else %}
          {% include 'weather/partials/today-summary-forecast.html' with forecast=point.forecast astronomical_data=point.point.astronomicalData %}
        {% endif %}
      </div>
    {% else %}
      {% if point.status == 404 %}
        <div class="grid-container padding-x-0 padding-y-2 grid-col-12">
          {% include 'weather/partials/uswds-alert.html' with level="error" body="forecast.errors.not-found.01"|t %}
        </div>
      {% else %}
        <div class="grid-container padding-x-0 padding-y-2 grid-col-12">
          {% include 'weather/partials/uswds-alert.html' with level="error" body="forecast.errors.loading.01"|t %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
