<div id="county-daily-alert-container">
  <div id="county-daily-alert-container-day-all">
    <wx-alerts class="wx-alerts-county-daily">
    {% for alert in data.alerts.items %}
      {% include "weather/partials/alert-accordion.html" with alert=alert icon="true" %}
    {% endfor %}
    </wx-alerts>
  </div>
  {% for day in data.alertDays %}
    <div id="county-daily-alert-container-day-{{ forloop.counter }}"
         class="display-none">
      <wx-alerts class="wx-alerts-county-daily">
      {% for alert in day.alerts %}
        {% include "weather/partials/alert-accordion.html" with alert=data.alerts.items|item_at_index:alert idprefix="day-"|add:day.day icon="true" %}
      {% endfor %}
      </wx-alerts>
    </div>
  {% endfor %}
</div>
