{% extends "weather/page.html" %}
{% block head_js %}{{ data.public|json_script:"county-data" }}{% endblock %}
{% block end_js %}
  <script type="module" src="{% static 'js/components/Tabs.js' %}"></script>
  <script type="module"
          src="{% static 'js/components/county-alert-daily-alert-accordions.js' %}"></script>
  <script type="module" src="{% static 'js/components/countyAlertMap.js' %}"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          id="data-wx-leaflet"
          nonce="{{ request.csp_nonce }}"
          defer></script>
  <script src="https://unpkg.com/esri-leaflet@3.0.12/dist/esri-leaflet.js"
          id="data-wx-leaflet-esri"
          nonce="{{ request.csp_nonce }}"
          defer></script>
  <script src="https://unpkg.com/esri-leaflet-vector@4.2.3/dist/esri-leaflet-vector.js"
          id="data-ex-leaflet-esri-vector"
          nonce="{{ request.csp_nonce }}"
          defer></script>
{% endblock %}
{% block head_css %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/leaflet.css' %}" />
{% endblock %}
{% block page_content %}
  <div class="bg-primary-dark">
    <div class="grid-container">
      <div class="grid-row flex-no-wrap">
        <h1 class="text-white font-heading-xl tablet:flex-1">{{ data.county }}</h1>
      </div>
    </div>
  </div>
  <div class="grid-container margin-top-2 margin-bottom-8 desktop:margin-bottom-10">
    <h2 class="text-normal text-primary-darker">{{ "county.heading.alerts.01" | t }}</h2>
    <div class="grid-col-12 desktop:grid-col-12">
      <wx-tabs id="county-alerts">
      <div class="usa-button-group usa-button-group--segmented overflow-x-auto"
           role="tablist">
        <button id="alert-day-all-button"
                type="button"
                class="usa-button padding-x-105"
                role="tab"
                data-alert-day="all"
                aria-controls="alert-day"
                aria-selected="true">{{ "county.alert-tabs.day.all.01" | t }}</button>
        {% for day in data.public.alertDays %}
          <button id="alert-day-{{ forloop.counter }}-button"
                  type="button"
                  class="usa-button padding-x-105"
                  role="tab"
                  data-alert-day="{{ forloop.counter }}"
                  aria-controls="alert-day"
                  aria-selected="false">{{ "county.alert-tabs.day." | add:day.day | add:".01" | t }}</button>
        {% endfor %}
      </div>
      </wx-tabs>
      <div id="alert-day"
           role="tabpanel"
           aria-labelledby="alert-day-all-button"
           class="margin-top-2">
        <div class="grid-row grid-gap">
          <div class="grid-col-12 tablet:grid-col-7 margin-bottom-205">
            {% include 'weather/partials/county-alerts-map.html' %}
          </div>
          <div class="grid-col-12 tablet:grid-col-5">{% include "weather/county/dailyAlertAccordion.html" %}</div>
        </div>
      </div>
    </div>
    <div class="grid-row border-top-2px border-base-light margin-y-4">{% include "weather/county/briefings.html" %}</div>
    <div class="grid-row">
      <div class="grid-col-12 desktop:border-base-lightest desktop:border-3 desktop:padding-2">
        {% ghwo_daily_summary data.public.hazardOutlook %}
      </div>
    </div>
  </div>
{% endblock %}
