{% extends "weather/page.html" %}
{% block head_js %}{{ data.public|json_script:"county-data" }}{% endblock %}
{% block end_js %}
  <script type="module"
          src="{% static 'js/county/landing.html.js' %}"
          type="module"></script>
  {% include "weather/scripts/leaflet.html" %}
{% endblock %}
{% block head_css %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/leaflet.css' %}" />
{% endblock %}
{% block page_content %}
  <div class="bg-primary-dark">
    <div class="grid-container">
      <div class="grid-row flex-no-wrap">
        <h1 class="text-white font-heading-xl tablet:flex-1">{{ data.county }}</h1>
      </div>
    </div>
  </div>
  <div class="grid-container margin-top-2 margin-bottom-8 desktop:margin-bottom-10">
    <h2 class="text-normal text-primary-darker">{{ "county.heading.alerts.01" | t }}</h2>
    <div class="grid-col-12 desktop:grid-col-12">
      <wx-tabs id="county-alerts">
      <div class="usa-button-group usa-button-group--segmented overflow-x-auto"
           role="tablist">
        <button id="alert-day-all-button"
                type="button"
                class="usa-button padding-x-105"
                role="tab"
                data-alert-day="all"
                aria-controls="alert-day"
                aria-selected="true">{{ "county.alert-tabs.day.all.01" | t }}</button>
        {% for day in data.public.alertDays %}
          <button id="alert-day-{{ forloop.counter }}-button"
                  type="button"
                  class="usa-button padding-x-105"
                  role="tab"
                  data-alert-day="{{ forloop.counter }}"
                  aria-controls="alert-day"
                  aria-selected="false">{{ "county.alert-tabs.day." | add:day.day | add:".01" | t }}</button>
        {% endfor %}
      </div>
      </wx-tabs>
      <div id="alert-day"
           role="tabpanel"
           aria-labelledby="alert-day-all-button"
           class="margin-top-2">
        <div class="grid-row grid-gap">
          <div class="grid-col-12 tablet:grid-col-7 margin-bottom-205">
            {% include 'weather/partials/county-alerts-map.html' %}
          </div>
          <div class="grid-col-12 tablet:grid-col-5">{% include "weather/county/dailyAlertAccordion.html" %}</div>
        </div>
      </div>
    </div>
    <div class="grid-row border-top-2px border-base-light margin-y-4">{% include "weather/county/briefings.html" %}</div>
  </div>
  {% include 'weather/partials/weather-story-container.html' with weather_stories=data.weather_stories is_county_page=True %}
  <div class="bg-base-lightest">
    <div class="grid-container padding-y-4 padding-x-0 desktop:padding-x-4">
      <div class="grid-col-12 bg-white padding-2 padding-top-1 shadow-1">
        {% ghwo_daily_summary data.public.hazardOutlook %}
      </div>
    </div>
  </div>
{% endblock %}
