{% comment %}
-- Template purpose:
--   Display information about a weather forecast office (WFO).
-- Used by: county/overview.html
{% endcomment %}
<div class="desktop:grid-col-6 desktop:padding-left-4 grid-col-12">
  <h2 class="text-normal text-primary-darker  margin-top-3 margin-bottom-2">{{ "county.heading.wfo-promo.01" | t}}</h2>
  {% if data.primary_wfo %}
    <a href="{{ data.primary_wfo.url }}" class="usa-link">
      {% trans_with_args "county.wfo-promo.wfo-label.01" wfo_name=data.primary_wfo.name %}
    </a>
    {% if data.primary_wfo.phone %}
      <address class="font-mono-xs margin-top-1">
        <span class="text-uppercase text-bold">{{ "county.wfo-promo.labels.phone.01" | t}}:</span>
        <a class="usa-link" href="tel:{{ data.primary_wfo.phone }}">{{ data.primary_wfo.phone }}</a>
      </address>
    {% endif %}
  {% else %}
    <p>Could not load WFO information for this county.</p>
  {% endif %}
</div>
