{% extends "weather/page.html" %}
{% block page_content %}

{%comment%}

This template is rendered for point locations that are outside of the United
States and therefore have no NWS data. It receives the following variables:

point:
  latitude  - Just exactly what you think it is.
  longitude - Also exactly what you think it is.

error  - True, if we're here.
status - The HTTP status from the API
reason - A coded string indicating why we have this error. If we're here, this
         value is "out-of-bands"

{%endcomment%}

<div class="grid-container margin-bottom-5">
  <h1>
    The requested location is not covered by the National Weather Service.
  </h1>
  The National Weather Service only provides weather, forecast, and alert
  information within the United States.
</div>

{% endblock %}
