<!-- Move the combobox out of the filter to mitigate an issue with how
     jsdom initializes custom components. It appears to do so top-down
     rather than bottom-up, so if we nest this inside the filter element,
     the filter will attempt to interact with the combobox and listbox
     before they are constructed and connected. -->
<wx-combobox id="state-filter-combobox">
  <input type="text" class="usa-input" slot="input" />
  <button type="button" slot="clear-button"></button>
  <button type="button" slot="toggle-button"></button>
  <wx-filterable-listbox slot="popup" id="state-filter-listbox" role="listbox">
    <li role="option" id="AK">Alaska</li>
    <li role="option" id="TX">Texas</li>
    <li role="option" id="VA">Virginia</li>
  </wx-filterable-listbox>
</wx-combobox>

<wx-county-index-filter target="county-filter-results">

  <input id="county-filter-input" />

  <section id="county-filter-results">
    <!-- Example State: Virginia -->
    <div data-state-abbrev="VA" data-state-name="Virginia" data-filter-by="state">
      <li data-county-name="garak" data-filter-by="county">
        Garak County, VA
      </li>
      <li data-county-name="odo" data-filter-by="county">
        Odo County, VA
      </li>
      <li data-county-name="sisko" data-filter-by="county">
        Sisko County, VA
      </li>
    </div>
    <!-- End Virginia -->

    <!-- Example State: Alaska -->
    <div data-state-abbrev="AK" data-state-name="Alaska" data-filter-by="state">
      <li data-county-name="blizzard" data-filter-by="county">
        Blizzard County, AK
      </li>
      <li data-county-name="flurries" data-filter-by="county">
        Flurries County, AK
      </li>
      <li data-county-name="snow" data-filter-by="county">
        Snow County, AK
      </li>
    </div>
    <!-- End Alaska -->

    <!-- Example State: Texas -->
    <div data-state-abbrev="TX" data-state-name="Texas" data-filter-by="state">
      <ul>
        <li data-county-name="aardvark" data-filter-by="county">
          Aardvark County, TX
        </li>
        <li data-county-name="elephant" data-filter-by="county">
          Elephant County, TX
        </li>
        <li data-county-name="zebra" data-filter-by="county">
          Zebra County, TX
        </li>
      </ul>
    </div>
    <!-- End Texas -->
  </section>
</wx-county-index-filter>