{
	debug
	log {
		format console
		level INFO
		output stdout
	}
	auto_https off
}

:{$PORT} {
	@private-ipv4 remote_ip {$ALLOWED_IPS}
	@denied not remote_ip private_ranges

	route /jsonapi {
		respond @denied 403 {
			close
		}
	}

	# note that by default Caddy passes through incoming headers so we do not
	# have to special case the X-CF-Forwarded-Url, X-CF-Proxy-Signature, and
	# X-CF-Proxy-Metadata headers (as would be required in a service instance)

	reverse_proxy https://weathergov-james.apps.internal:61443
	# reverse_proxy localhost:8080

	log {
		format console
		level INFO
		output stdout
	}
}
