{
	debug
	log {
		format console
		level INFO
		output stdout
	}
	auto_https off
}

:{$PORT} {
	# set up IP address filtering for the JSON:API endpoint only.

	@private-ipv4 remote_ip {$ALLOWED_IPS}
	@denied not remote_ip private_ranges

	route /jsonapi {
		respond @denied 403 {
			close
		}
	}

	# cloud.gov passes us the X-CF-Forwarded-Url, X-CF-Proxy-Signature, and
	# X-CF-Proxy-Metadata headers, but does not forward the path by default.
	# So we capture the X-CF-Forwarded-Url path to pass to the proxy. If no
	# such header is found, we proxy anyway (so we can test the proxy directly.)

	@loc header_regexp X-Cf-Forwarded-Url ^https://weathergov-{$SPACE_NAME}[^\/]+/(.*)

	handle @loc {
		rewrite /{re.loc.1}
		reverse_proxy https://weathergov-{$SPACE_NAME}.apps.internal:61443
	}

	handle {
		reverse_proxy https://weathergov-{$SPACE_NAME}.apps.internal:61443
		# respond "X-Cf-Forwarded-Url header not found" 404 {
		# 	close
		# }
	}

	log {
		format console
		level INFO
		output stdout
	}
}
