{% comment %}
  Leaflet doesn't play nicely with ESM. The ESRI plugins do, but then
  bundling and minifying them ourselves results in substantially larger
  files than just using the ones they distribute themselves.
{% endcomment %}
<script src="{% static 'js/third-party/leaflet@1.9.4.js' %}"
        id="data-wx-leaflet"
        defer></script>
<script src="{% static 'js/third-party/esri-leaflet@3.0.19.js' %}"
        id="data-wx-leaflet-esri"
        defer></script>
<script src="{% static 'js/third-party/esri-leaflet-vector@4.3.2.js'%}"
        id="data-ex-leaflet-esri-vector"
        defer></script>
<script src="{% static 'js/third-party/tinyqueue@3.0.0.js'%}"
        id="data-tinyqueue"
        defer></script>
<script src="{% static 'js/third-party/polylabel@2.0.1.js'%}"
        id="data-polylabel"
        defer></script>
<script src="{% static 'js/third-party/pbf@4.0.1.js' %}"
        id="data-pbf"
        defer></script>
<script src="{% static 'js/third-party/geobuf@3.0.1.js' %}"
        id="data-geobuf"
        defer></script>
<script src="{% static 'js/third-party/leaflet.markercluster@1.4.1.js'%}"
        id="data-leaflet-markercluster"
        defer></script>