.wx-bg-ray {
  background-image: url("/assets/images/weather/bg/ray_mask.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.wx-bg-satellite {
  background-image: url("/assets/images/weather/bg/find-satellite-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
