@use "uswds-core" as *;

/* Color utilities
------------------------------------- */
.wx-bg-red-10v {
  background-color: color("red-10v");
}

.wx-bg-yellow-5 {
  background-color: color("yellow-5");
}

.wx-border-gray-cool-30 {
  border-color: color("gray-cool-30");
}

.wx-border-red-40v {
  border-color: color("red-40v");
}

.wx-border-yellow-20v {
  border-color: color("yellow-20v");
}

/* Column utility
------------------------------------- */
.wx-col-2 {
  column-count: 2;
  column-gap: units(4);

  li {
    break-inside: avoid-column;
  }
}

/* Flex custom utilities 
------------------------------------- */
.wx-flex-basis-auto {
  flex-basis: auto;
}

.wx-flex-basis-100 {
  flex-basis: 100%;
}

@include at-media(mobile-lg) {
  .mobile-lg__wx-flex-basis-100 {
    flex-basis: 100%;
  }

  .mobile-lg__wx-flex-basis-auto {
    flex-basis: auto;
  }

  .mobile-lg__flex-align-center {
    align-items: center;
  }
}

@include at-media(tablet) {
  .tablet__wx-flex-justify-start {
    justify-content: flex-start;
  }
}

@include at-media(tablet-lg) {
  .tablet-lg__wx-flex-justify-start {
    justify-content: flex-start;
  }
}

/* Focus ring offset utility
------------------------------------- */
.wx-focus-offset-205 {
  &:focus {
    outline-offset: units(2.5);
  }
}

/* Custom isolation utilities
------------------------------------- */
.wx-isolation-isolate {
  isolation: isolate;
}

/* Custom width responsive utilities
------------------------------------- */
.tablet__wx-maxw10 {
  @include at-media("tablet") {
    @include u-maxw(10);
  }
}

/* Unstyle list utilities 
------------------------------------- */
.usa-list--unstyled .li-margin-bottom-1 {
  margin-bottom: units(1);
}

.usa-list--unstyled .li-margin-bottom-2 {
  margin-bottom: units(2);
}

/* Custom unstyle button utilities
------------------------------------- */
.wx-button--unstyled-light {
  color: white;

  &:visited {
    color: white;
  }

  &:hover {
    color: color("primary-lighter");
  }

  &:active {
    color: color("accent-cool-lighter");
  }
}

/* Custom minimum width
------------------------------------- */
.wx-minw-full {
  min-width: 100%;
}

/* Custom sticky at desktop
------------------------------------- */
@include at-media(desktop){
  .desktop__wx-position-sticky {
    position: sticky;
    top: 0;
  }
}

/* Compensate for .grid-container padding in a direct
 * child in order to make it full width
------------------------------------- */
.wx-full-container-width {
  width: calc(100% + units(2))
}

/* Custom grid gaps
------------------------------------- */
@include at-media("desktop") {
    .grid-row.desktop__wx-grid-gap-lg {
        margin-left: units(-1.5);
        margin-right: units(-1.5);
    }

    .desktop__wx-grid-gap-lg > * {
        padding-left: units(1.5);
        padding-right: units(1.5);
    }
}


