{% extends "weather/page.html" %}
{% block page_content %}
  <div class="grid-container margin-top-2 margin-bottom-8 desktop:margin-bottom-10">
    <div class="grid-row">
      <div class="grid-col usa-prose">
        <h1 class="text-primary-dark">{{ page.title }}</h1>
        <h2 class="text-primary-darker">NWS mission</h2>
        <p>
          Provide weather, water and climate data, forecasts, warnings, and impact-based decision support services for the protection of life and property and enhancement of the national economy.
        </p>
        <h2 class="text-primary-darker">This website</h2>
        <p>
          The National Weather Service (NWS) provides science-based forecasts and warnings to protect life and property. It makes sure important weather information reaches the broadest possible audience.
        </p>
        <p>This website provides information to empower everyone to protect themselves and their communities.</p>
      </div>
    </div>
  </div>
{% endblock %}
