{% extends "weather/page.html" %}
{% block page_content %}
  <div class="grid-container margin-top-2 margin-bottom-8 desktop:margin-bottom-10">
    <div class="grid-row">
      <div class="grid-col usa-prose">
        <h1 class="text-primary-dark">{{ page.title }}</h1>
        <p>
          The National Weather Service (NWS) commits to making this website accessible to the widest possible audience. This includes people with disabilities. We do this by following <a href="https://www.section508.gov/manage/laws-and-policies/"
    class="usa-link usa-link--external">Section 508 of the Rehabilitation Act (29 U.S.C. 794d)</a>.
        </p>
        <p>
          Section 508 is a federal law that requires agencies to provide equal access to information, regardless of disabilities.
        </p>
        <p>
          The Section 508 standards are the technical requirements used to measure adherence to this law. You can find more information on Section 508 and the technical standards at <a href="https://Section508.gov" class="usa-link usa-link--external">Section508.gov</a>.
        </p>
        <p>This website measures conformance against the WCAG 2.1 A and AA conformance standards.</p>
        <h2 class="text-primary-darker">Accessibility feedback</h2>
        <p>
          If you believe this website has accessibility problems, you can email us at <a class="usa-link text-no-wrap" href="mailto:nws.webfeedback@noaa.gov">nws.webfeedback@noaa.gov</a>. We'll confirm receipt of your message and keep you informed as we work to resolve your accessibility issue.
        </p>
        <p>To ensure we can be most helpful to you, please include in your email:</p>
        <ul class="usa-list">
          <li>
            A description of your accessibility issue and any information that will help us replicate the problem, such as browser, assistive technology, operating system.
          </li>
          <li>
            The URL of the page where you are having difficulties. If you can't provide the URL, specify the location of the issue.
          </li>
          <li>Your contact information, including your name.</li>
        </ul>
        <h2 class="text-primary-darker">File an official complaint</h2>
        <p>
          You can file an administrative complaint with the NOAA Office of Civil Rights to request a review of our technology and that it be made compliant with the provisions of Section 508.
        </p>
        <p>Contact the Office of Civil Rights with complaints.</p>
        <address>
          <ul class="usa-list">
            <li>By mail: Building SSMC4, Suite 7500 1305 East-West Highway Silver Spring, MD 20910</li>
            <li>By phone: 301-713-0500 or 800-452-6728</li>
            <li>
              By email: <a href="mailto:noaa.ocr.noaa.gov" class="usa-link">noaa.ocr@noaa.gov</a>
            </li>
            <li>
              By fax: <a href="te:3017130983" class="usa-link">301-713-0983</a>
            </li>
          </ul>
        </address>
        <p>
          You can find out more information on <a href="https://www.noaa.gov/organization/inclusion-and-civil-rights/contact-us"
    class="usa-link usa-link--external">NOAA's OCR on their official NOAA web&nbsp;page</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
