{% load i18n %}
{% load weather_i18n %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <title>
      {% if point.place %}{{ point.place.fullName }} |{% endif %}
      beta.weather.gov | {{ "National Weather Service" | t }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
          type="image/png"
          href="/assets/images/weather/favicons/nws-favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    {% block head_css %}{% endblock %}
    <link rel="manifest" href="/assets/manifest.json" />
    <script src="/assets/js/uswds-init.min.js"></script>
    {% block head_js %}{% endblock %}
  </head>
  <body>
    <a href="#main-content" class="usa-sr-only focusable skip-link">{% translate 'uswds-banner.skip-to-content.01' %}</a>
    {% include "weather/partials/gov-banner.html" %}
    {% block page_top %}{% endblock %}
    {% block page %}{% endblock %}
    {% block page_bottom %}{% endblock %}
    <script src="/assets/js/uswds.min.js"></script>
    {% block end_js %}{% endblock %}
  </body>
</html>
