{% comment %}
-- Template purpose:
--   Displays the footer markup at the bottom of every page.
-- Used by: page.html
-- Url: https://beta.weather.gov/
{% endcomment %}
{% load i18n %}
{% load weather_i18n %}
<footer role="contentinfo" class="margin-top-0">
  <div class="usa-identifier padding-bottom-6">
    <nav class="usa-identifier__section usa-identifier__section--required-links"
         aria-label="Important links,">
      <div class="grid-container">
        <div class="grid-row">
          <div class="desktop:grid-col-4 padding-top-1">
            <a href="/" rel="home" class="site-logo display-block">
              <img class="height-9"
                   src="{% static 'logo-noaa.svg' %}"
                   alt="{{ 'footer.aria.noaa-logo.01'|t }}" />
            </a>
            <span class="text-italic display-block">{{ 'footer.noaa-motto.01'| t }}</span>
          </div>
          <div class="desktop:grid-col-8">
            <div class="region region-primary-footer">
              <nav role="navigation"
                   aria-label="{{ 'footer.identifier.important-links.01' | t }}"
                   id="block-new-weather-theme-footerprimarylinks"
                   class="contextual-region block block-menu navigation menu--footer">
                <nav class="usa-identifier__section usa-identifier__section--required-links">
                  <div class="usa-identifier__container padding-0">
                    <ul class="usa-identifier__required-links-list">
                      <li class="usa-identifier__required-links-item">
                        <a href="/about" class="usa-identifier__required-link usa-link">About Us</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="https://www.noaa.gov/NOAA-Communications"
                           class="usa-identifier__required-link usa-link">Media inquiries</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="/disclaimer" class="usa-identifier__required-link usa-link">Disclaimer</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="https://www.noaa.gov/information-technology/foia"
                           class="usa-identifier__required-link usa-link">Freedom of Information Act</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="/accessibility" class="usa-identifier__required-link usa-link">Accessibility</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="https://www.noaa.gov/organization/information-technology/policy-oversight/information-quality"
                           class="usa-identifier__required-link usa-link">Information Quality</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="/privacy" class="usa-identifier__required-link usa-link">Privacy policy</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="https://usa.gov" class="usa-identifier__required-link usa-link">USA.gov</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--
             TODO: Make these links configurable.
             These were taken verbatim from a rendering
             of the Drupal beta site. In drupal, the links are
             configured as menu items
        -->
    <div class="region region-footer">
      <nav role="navigation"
           aria-label="{{ 'footer.identifier.agency-links.01' | t }}"
           id="block-new-weather-theme-agencyidentificationlinks"
           class="contextual-region block block-menu navigation menu--agency-identification-links">
        <section class="usa-identifier__section usa-identifier__section--usagov"
                 aria-label="U.S. government information and services,">
          <div class="usa-identifier__container">
            <ul class="usa-list--unstyled desktop:display-flex flex-row flex-justify">
              <li>
                <a class="usa-link text-bold" href="https://www.commerce.gov/">Department of Commerce</a>
              </li>
              <li>
                <a class="usa-link text-bold" href="https://www.noaa.gov/">National Oceanic and Atmospheric Administration (NOAA)</a>
              </li>
              <li>
                <a class="usa-link text-bold" href="/">National Weather Service</a>
              </li>
            </ul>
          </div>
        </section>
      </nav>
    </div>
  </div>
  <a href="https://touchpoints.app.cloud.gov/touchpoints/22acf675/submit"
     class="touchpoints-button usa-button position-fixed bottom-0 z-top">{{ "footer.link.touchpoints.01" | t }}</a>

  {% if timings %}
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-alert usa-alert--info usa-alert--slim">
        <div class="usa-alert__body">
          <p class="usa-alert__text">
            You are seeing a debug version of this page. The below is provided for informational purposes only.
          </p>
        </div>
      </div>
      <div class="usa-summary-box" role="region" aria-labelledby="summary-box-key-information">
        <div class="usa-summary-box__body">
          <h4 class="usa-summary-box__heading" id="summary-box-key-information">
            API endpoints used
          </h4>
          <p class="usa-prose">Interop endpoint: {{timings.url}}</p>
          <div class="usa-summary-box__text">
            <ul>
              {% for timing in timings.timings %}
              <li class="maxw-none margin-top-1 margin-bottom-1">
                <code>{{ timing.url }}</code> took {{ timing.timing|floatformat:2 }}ms
                {% if timing.obsIndex > -1 %}
                  <span class="usa-tag">Observation {{timing.obsIndex}}</span>
                {% endif %}
                {% if timing.awaited %}
                  <span class="usa-tag">awaited</span>
                {% endif %}
                {% if timing.validObs %}
                  <span class="usa-tag">selected obs</span>
                {% endif %}
                {% if timing.cached %}
                  <span class="usa-tag">cached</span>
                {% elif timing.correlationId %}
                  <ul>
                    <li class="margin-top-1 margin-bottom-1">API Correlation ID: <span>{{ timing.correlationId }}</span></li>
                  </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          <div>
            {% if timings.batches %}
              <p class="usa-prose">
                Number of batches: {{timings.batches|length}}
              </p>
                <ol>
                  {% for batch in timings.batches %}
                    <li>
                      <p>Time: {{batch.max|floatformat:2}}ms</p>
                      <p>Endpoints in batch:</p>
                      <ul>
                        {% for item in batch.batch %}
                          <li>{{item.url}}</li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endfor %}
                </ol>
                <p class="usa-prose">
                  Total API request time: <span class=" text-bold">
                  {{timings.total|floatformat:2}}ms
                  </span>
                </p>
                <p class="usa-prose">
                  Interop response time: <span class="text-bold">
                  {{timings.interopResponseTime|floatformat:2}}ms
                  </span>
                </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    </div>
    {% endif %}

</footer>
