{% load i18n %}
{% load weather_i18n %}
<footer role="contentinfo" class="margin-top-0 padding-bottom-3">
  <div class="usa-identifier">
    <nav class="usa-identifier__section usa-identifier__section--required-links"
         aria-label="Important links,">
      <div class="grid-container">
        <div class="grid-row">
          <div class="desktop:grid-col-4">
            <a href="/" rel="home" class="site-logo display-block">
              <img class="height-9"
                   src="/assets/logo-noaa.svg"
                   alt="{{ 'footer.aria.noaa-logo.01'|t }}" />
            </a>
            <span class="text-italic display-block">{{ 'footer.noaa-motto.01'| t }}</span>
          </div>
          <div class="desktop:grid-col-8">
            <div class="region region-primary-footer">
              <nav role="navigation"
                   aria-labelledby="block-new-weather-theme-footerprimarylinks-menu"
                   id="block-new-weather-theme-footerprimarylinks"
                   class="contextual-region block block-menu navigation menu--footer">
                <nav class="usa-identifier__section usa-identifier__section--required-links">
                  <div class="usa-identifier__container padding-0">
                    <ul class="usa-identifier__required-links-list">
                      <li class="usa-identifier__required-links-item">
                        <a href="/about" class="usa-identifier__required-link usa-link">About Us</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="https://www.noaa.gov/NOAA-Communications"
                           class="usa-identifier__required-link usa-link">Media inquiries</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="" class="usa-identifier__required-link usa-link">Website Acknowledgements</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="/site-index" class="usa-identifier__required-link usa-link">Site Index</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="/disclaimer" class="usa-identifier__required-link usa-link">Disclaimer</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="https://www.noaa.gov/information-technology/foia"
                           class="usa-identifier__required-link usa-link">Freedom of Information Act</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="/node/4" class="usa-identifier__required-link usa-link">Accessibility</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="https://www.noaa.gov/organization/information-technology/policy-oversight/information-quality"
                           class="usa-identifier__required-link usa-link">Information Quality</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="/privacy-policy" class="usa-identifier__required-link usa-link">Privacy policy</a>
                      </li>
                      <li class="usa-identifier__required-links-item">
                        <a href="https://usa.gov" class="usa-identifier__required-link usa-link">USA.gov</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--
             TODO: Make these links configurable.
             These were taken verbatim from a rendering
             of the Drupal beta site. In drupal, the links are
             configured as menu items
        -->
    <div class="region region-footer">
      <nav role="navigation"
           aria-labelledby="block-new-weather-theme-agencyidentificationlinks-menu"
           id="block-new-weather-theme-agencyidentificationlinks"
           class="contextual-region block block-menu navigation menu--agency-identification-links">
        <section class="usa-identifier__section usa-identifier__section--usagov"
                 aria-label="U.S. government information and services,">
          <div class="usa-identifier__container">
            <ul class="usa-list--unstyled desktop:display-flex flex-row flex-justify">
              <li>
                <a class="usa-link text-bold" href="https://www.commerce.gov/">Department of Commerce</a>
              </li>
              <li>
                <a class="usa-link text-bold" href="https://www.noaa.gov/">National Oceanic and Atmospheric Administration (NOAA)</a>
              </li>
              <li>
                <a class="usa-link text-bold" href="/">National Weather Service</a>
              </li>
            </ul>
          </div>
        </section>
      </nav>
    </div>
  </div>
  <a href="https://touchpoints.app.cloud.gov/touchpoints/22acf675/submit"
     class="touchpoints-button usa-button position-fixed bottom-0 z-top">{{ "footer.link.touchpoints.01" | t }}</a>
</footer>
