{% extends "weather/page.html" %}
{% load i18n %}
{% load weather_i18n %}
<!-- index.html -->
{% block head_js %}<script src="/assets/js/front.page.js"></script>{% endblock %}
{% block page_content %}
  <div class="bg-primary-darker wx-bg-satellite padding-y-4 tablet:padding-top-7 tablet:padding-bottom-8">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
          <h1 class="text-normal text-white margin-y-0 font-sans-3xl text-ls-1">
            {{ "frontpage.heading.find-your-forecast.01" | t }}
          </h1>
        </div>
      </div>
      <div class="grid-row">
        <form class="usa-form grid-col maxw-tablet-lg margin-bottom-105 tablet:grid-offset-2"
              data-location-search
              method="get">
          <div class="display-flex flex-align-end text-white flex-wrap margin-top-2">
            <label class="usa-label margin-top-0 line-height-sans-1"
                   for="search-combo-box">{{ "location-search.labels.enter-city-zip.01" | t }}</label>
            <div class="margin-x-105">|</div>
            <button id="weathergov-use-browser-location"
                    type="button"
                    class="usa-button--unstyled wx-button--unstyled-light line-height-sans-1 margin-top-1">
              <svg class="usa-icon height-2 width-2 margin-right-05 text-top"
                   aria-hidden="true"
                   focusable="false"
                   role="img">
                <use xlink:href="/assets/images/uswds/sprite.svg#my_location"></use>
              </svg>
              {{ 'location-search.labels.use-location.01' | t }}
            </button>
          </div>
          <wx-combo-box-location class="z-top margin-top-105" id="search-combo-box">
          </wx-combo-box-location>
        </form>
      </div>
      <div class="grid-row font-sans-md text-white tablet:grid-offset-2">
        <div class="grid-col">{% include 'weather/partials/wx-loader.html' %}</div>
      </div>
    </div>
  </div>
  <div class="bg-primary-lightest wx-bg-ray padding-y-4 border-top-05 border-primary-light">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
          <div class="display-flex flex-align-start mobile-lg__flex-align-center">
            <img aria-hidden="true"
                 class="margin-right-2 maxw-8 tablet__wx-maxw10"
                 src="/assets/images/weather/spot_illos/wx_illo_announce.svg"
                 alt="" />
            <h2 class="text-normal text-primary-darker font-sans-2xl margin-y-0">
              {{ "frontpage.heading.is-coming.01" | t | safe}}
            </h2>
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
          <p class="font-sans-md">{{ "frontpage.text.is-coming-1-graf.01" | t | safe }}</p>
          <p>{{ "frontpage.text.is-coming-2-graf.01" | t | safe }}</p>
          <p class="margin-bottom-0">{% trans_with_args "frontpage.text.is-coming-3-graf.01" url='https://www.weather.gov' %}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container margin-top-4 margin-bottom-10">
    <div class="grid-row">
      <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
        <div class="display-flex flex-align-start mobile-lg__flex-align-center">
          <img aria-hidden="true"
               class="margin-right-2"
               src="/assets/images/weather/spot_illos/wx_illo_user.svg"
               alt="" />
          <h2 class="font-sans-xl text-normal text-primary-darker margin-y-0">
            {{ "frontpage.heading.in-mind.01" | t | safe }}
          </h2>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
        <p>{{ "frontpage.text.in-mind-1-graf.01" | t | safe }}</p>
        <p class="margin-bottom-1">{{ "frontpage.list-heading.in-mind-2-graf.01" | t | safe }}</p>
        <ul class="usa-list margin-y-0">
          <li>{{ "frontpage.list.in-mind-1-item.01" | t | safe }}</li>
          <li>{{ "frontpage.list.in-mind-2-item.01" | t | safe }}</li>
          <li>{{ "frontpage.list.in-mind-3-item.01" | t | safe }}</li>
          <li>{{ "frontpage.list.in-mind-4-item.01" | t | safe }}</li>
          <li>{{ "frontpage.list.in-mind-5-item.01" | t | safe }}</li>
        </ul>
      </div>
    </div>
    <div class="grid-row margin-top-4">
      <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
        <div class="display-flex flex-align-start mobile-lg__flex-align-center">
          <img aria-hidden="true"
               class="margin-right-2"
               src="/assets/images/weather/spot_illos/wx_illo_message.svg"
               alt="" />
          <h2 class="font-sans-xl text-normal text-primary-darker margin-y-0">
            {{ "frontpage.heading.touchpoints.01" | t | safe }}
          </h2>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
        <p class="margin-bottom-1">
          {% trans_with_args "frontpage.text.touchpoints-1-graf.01" url='https://touchpoints.app.cloud.gov/touchpoints/22acf675/submit' %}
        </p>
        <ul class="usa-list margin-y-0">
          <li>{{ "frontpage.list.touchpoints-1-item.01" | t }}</li>
          <li>{{ "frontpage.list.touchpoints-2-item.01" | t }}</li>
          <li>{{ "frontpage.list.touchpoints-3-item.01" | t }}</li>
          <li>{{ "frontpage.list.touchpoints-4-item.01" | t }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
<!-- end index.html -->
