<!-- page.html  -->
{% extends "weather/base.html" %}
{% block page %}
  {% include "weather/partials/beta-banner.html" %}
  <div class="layout-container grid-row height-full flex-column flex-no-wrap">
    <header role="banner">
      {% include "weather/partials/site-branding.html" %}
    </header>
    <main role="main" class="flex-1">
      <a id="main-content" tabindex="-1"></a>
      {% block page_content %}{% endblock %}
    </main>
    {% include "weather/footer.html" %}
  </div>
{% endblock %}
<!-- end page.html -->
