{% extends "weather/page.html" %}
{% block page_content %}
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col">
        <h1>{{ page.title }}</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus sed turpis tincidunt id aliquet risus feugiat in. Sit amet est placerat in egestas erat imperdiet. Tellus cras adipiscing enim eu turpis egestas pretium aenean. Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla. Rutrum quisque non tellus orci ac auctor augue mauris augue. Enim praesent elementum facilisis leo vel. Turpis in eu mi bibendum. Enim facilisis gravida neque convallis a. Orci nulla pellentesque dignissim enim sit amet venenatis. Lobortis scelerisque fermentum dui faucibus in ornare quam. Purus in massa tempor nec feugiat nisl. Et netus et malesuada fames ac turpis. Id volutpat lacus laoreet non curabitur gravida. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Non enim praesent elementum facilisis leo vel fringilla.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
