/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

.usa-identifier__required-links-list {
  @include add-list-reset;
  @include u-margin-y(0);

  // Overrides the default column count set in @uswds/.../_usa-identifier.scss
  @include at-media("desktop") {
    column-count: 2; // default is 4
  }
}

.icon svg {
  height: 100%;
  width: 100%;

  path.st0 {
    fill: color("black");
  }
}

html,
body {
  height: 100%;
}

body {
  /* the normalize.css we use sets
   *  this value to 'hidden', which will
   *  prevent the use of position sticky
   *  anywhere in the body
   */
  overflow-x: clip;
}

/* AlertDetails Overrides
-------------------------------------- */
weathergov-alerts {
  .usa-prose h3 {
    font-weight: normal;
    margin-top: units(3);
  }

  .usa-prose h3 + p {
    margin-top: units(0.5);
  }

  .usa-prose > ul {
    // align bullet with the text
    padding-left: 2ch;
  }
}

/* AlertList Overrides
-------------------------------------- */
.usa-alert__body a {
  color: color("primary-dark");

  &:focus,
  &:hover {
    color: color("primary-darker");
  }
}

/* Column utility
------------------------------------- */
.wx-col-2 {
  column-count: 2;
  column-gap: units(4);

  li {
    break-inside: avoid-column;
  }
}

/* Current Conditions
------------------------------------- */
.current-conditions-temp {
  // Custom size not in typecale
  font-size: units(5) + units(0.5);
}

/* Hourly Forecast Block Overrides
-------------------------------------- */
.hourly-forecast-block ol > li {
  @include u-margin-bottom(3);
}

table tr:first-child th,
table tr:nth-child(2) th {
  border-top: none;
}

/* Daily Forecast Block Overrides
------------------------------------- */
.daily-forecast-block ol > li {
  @include u-margin-bottom(3);
}

/* Day/Night marker line utility
------------------------------------- */
.line-before{
  &::before {
    content: "";
    top: units(-1);
    width: units(5);
    position: relative;
    display: block;
  }
}

.line-before--yellow {
  &::before {
    border-top: 2px solid color("yellow-20");
  }
}

.line-before--indigo {
  &::before {
    border-top: 2px solid color("secondary-darkest");
  }
}

// TODO: Remove `line-after`s if stays unused, testing out different visual markers
.line-after{
  &::after {
    content: "";
    top: calc(units(-1) - units("2px")); // align with word center
    left: units(5) + units(1.5);  // icon size + margin-right
    width: calc(100% - units(8)); // width - margins
    position: relative;
    display: block;
  }
}

.line-after--yellow {
  &::after {
    border-top: 2px solid color("yellow-20");
  }
}

.line-after--indigo {
  &::after {
    border-top: 2px solid color("secondary-darkest");
  }
}


/* Extended forecast description width
------------------------------------- */
.flex-basis-auto {
  flex-basis: auto;
}

.flex-basis-100 {
  flex-basis: 100%;
}

@include at-media(mobile-lg) {
  .mobile-lg__flex-basis-100 {
      flex-basis: 100%;
    }

  .mobile-lg__flex-basis-auto {
      flex-basis: auto;
  }
}

/* Wind direction icon transformations
------------------------------------- */
svg[data-wind-direction] {
  transform-origin: center;
}

/* Hourly precipitation table overrides
------------------------------------- */
.precip-table {
  td:first-of-type {
    padding-left: 0;
  }

  td:last-child {
    padding-right: 0;
  }

  tr:first-of-type td {
    border-top: 0;
    // visually even out top and bottom table padding, accounting for font bounding box
    padding-top: units(0.5);
  }

  tr:last-of-type td {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.usa-table.hourly-table {

  td, th {
    padding-left: 0;
    padding-right: units(3);
    white-space: normal;
    vertical-align: text-top;

    &:first-of-type {
      padding-left: units(2);
    }
  }

  td {
    min-width: units('card');
  }


  // Fighting specificity
  tr[data-row-name="time"] th:nth-child(2) {
    padding-left: units(2);
  }

 

  // Using class to overide usa-table styles
  .hourly-table__alert {
    background-color: color("accent-warm-lightest");
    border: 1px solid color("accent-warm-lighter");
    display: block;
    padding: units(1) units(1.5);

    svg {
      fill: color("accent-warm-dark");
    }
  }

  tr[data-row-name="alert"] td,
  tr[data-row-name="alert"] th {
    border: 0;
  }

  tr[data-row-name="alert"] td {
    padding: units(1) 0;

    &:first-of-type {
      padding-left: units(2);
    }
  }

  tr[data-row-name="alert"]:last-of-type td {
     padding-bottom: 0 !important;
  }

}

hourly-table[data-scrolled="true"] th:first-of-type {
  &::after {
    content: '';
    top:0;
    right: units(-2);
    bottom:0;
    position:absolute;
    height:100%;
    width: units(2);
    background-image: linear-gradient(90deg, rgba(0,0,0,0.1), transparent);
    background-size: 50%;
    background-repeat: no-repeat;
  }
}
