/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

.usa-identifier__required-links-list {
  @include add-list-reset;
  @include u-margin-y(0);

  // Overrides the default column count set in @uswds/.../_usa-identifier.scss
  @include at-media("desktop") {
    column-count: 2; // default is 4
  }
}

.icon svg {
  @include u-height(8);

  path.st0 {
    fill: color("black");
  }
}

html,
body {
  height: 100%;
}

body {
  /* the normalize.css we use sets
   *  this value to 'hidden', which will
   *  prevent the use of position sticky
   *  anywhere in the body
   */
  overflow-x: clip;
}

/* Current Conditions
-------------------------------------
*/
.current-conditions-temp {
  font-size: 56px;
}

/* Hourly Forecast Block Overrides
--------------------------------------
*/
.hourly-forecast-block ol > li {
  @include u-margin-bottom(3);
}

table tr:first-child th,
table tr:nth-child(2) th {
  border-top: none;
}

/* Daily Forecast Block Overrides
------------------------------------- */
.daily-forecast-block ol > li {
  @include u-margin-bottom(5);
}

/* Wind direction icon transformations
------------------------------------- */
svg[data-wind-direction] {
  transform-origin: center;
}

svg[data-wind-direction="N"] {
  transform: rotate(180deg);
}

svg[data-wind-direction="NE"] {
  transform: rotate(225deg);
}

svg[data-wind-direction="E"] {
  transform: rotate(270deg);
}

svg[data-wind-direction="SE"] {
  transform: rotate(315deg);
}

svg[data-wind-direction="SW"] {
  transform: rotate(45deg);
}

svg[data-wind-direction="W"] {
  transform: rotate(90deg);
}
