/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

.usa-identifier__required-links-list {
  @include add-list-reset;
  @include u-margin-y(0);

  // Overrides the default column count set in @uswds/.../_usa-identifier.scss
  @include at-media("desktop") {
    column-count: 2; // default is 4
  }
}

.icon svg {
  height: 100%;
  width: 100%;

  path.st0 {
    fill: color("black");
  }
}

html,
body {
  height: 100%;
}

body {
  /* the normalize.css we use sets
   *  this value to 'hidden', which will
   *  prevent the use of position sticky
   *  anywhere in the body
   */
  overflow-x: clip;
}

/* AlertDetails Overrides
-------------------------------------- */
weathergov-alerts {
  .usa-prose h3 {
    font-weight: normal;
    margin-top: units(3);
  }

  .usa-prose h3 + p {
    margin-top: units(0.5);
  }

  .usa-prose > ul {
    // align bullet with the text
    padding-left: 2ch;
  }
}

/* AlertList Overrides
-------------------------------------- */
.usa-alert__body a {
  color: color("primary");

  &:focus,
  &:hover {
    color: color("primary-dark");
  }
}

/* Column utility
------------------------------------- */
.wx-col-2 {
  column-count: 2;
  column-gap: units(4);

  li {
    break-inside: avoid-column;
  }
}

/* Current Conditions
------------------------------------- */
.current-conditions-temp {
  // Custom size not in typecale
  font-size: units(5) + units(0.5);
}

/* Hourly Forecast Block Overrides
-------------------------------------- */
.hourly-forecast-block ol > li {
  @include u-margin-bottom(3);
}

table tr:first-child th,
table tr:nth-child(2) th {
  border-top: none;
}

/* Daily Forecast Block Overrides
------------------------------------- */
.daily-forecast-block ol > li {
  @include u-margin-bottom(3);
}

/* Day/Night marker line utility
------------------------------------- */
.line-before {
  &::before {
    content: "";
    top: units(-1);
    width: units(5);
    position: relative;
    display: block;
  }
}

.line-before--yellow {
  &::before {
    border-top: 2px solid color("yellow-20");
  }
}

.line-before--indigo {
  &::before {
    border-top: 2px solid color("secondary-darkest");
  }
}

.line-before--midnight-indigo {
  &::before {
    border-top: 2px solid color("secondary-darker");
  }
}

// TODO: Remove `line-after`s if stays unused, testing out different visual markers
.line-after {
  &::after {
    content: "";
    top: calc(units(-1) - units("2px")); // align with word center
    left: units(5) + units(1.5); // icon size + margin-right
    width: calc(100% - units(8)); // width - margins
    position: relative;
    display: block;
  }
}

.line-after--yellow {
  &::after {
    border-top: 2px solid color("yellow-20");
  }
}

.line-after--indigo {
  &::after {
    border-top: 2px solid color("secondary-darkest");
  }
}

/* Flex custom utilities 
------------------------------------- */
.flex-basis-auto {
  flex-basis: auto;
}

.flex-basis-100 {
  flex-basis: 100%;
}

@include at-media(mobile-lg) {
  .mobile-lg__flex-basis-100 {
    flex-basis: 100%;
  }

  .mobile-lg__flex-basis-auto {
    flex-basis: auto;
  }
}

@include at-media(tablet) {
  .tablet__flex-justify-start {
    justify-content: flex-start;
  }
}

/* Wind direction icon transformations
------------------------------------- */
svg[data-wind-direction] {
  transform-origin: center;
}

/* Unstyle list utilities 
------------------------------------- */
.usa-list--unstyled .li-margin-bottom-1 {
  margin-bottom: units(1);
}

/* Focus ring offset utility
------------------------------------- */
.focus-offset-205 {
  &:focus {
    outline-offset: units(2.5);
  }
}

/* Touchpoints button overrides
------------------------------------- */
@include at-media(mobile) {
    .viewpoints-button {
        right: unset;
        width: 100vw;
    }
}

@include at-media(tablet-lg) {
    .viewpoints-button {
        right: units(3);
        width: unset;
    }
}

/* Weather story overrides
------------------------------------- */
#weather_story_content h3 {
    font-weight: normal;
}
