/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

//
//  @use "uswds-core" with (
//    $setting: value,
//    $setting: value
//  );
//

@use "uswds-core" with (
    $theme-typeface-tokens: (
        "Nunito": (
          "display-name": "Nunito",  
          "cap-height": 364px,         // the default, leave it for now
          "stack": "Open Sans, Helvetica Neue, sans-serif",
        ),
      ),
    $theme-font-type-sans:   'Nunito',
    $theme-font-role-heading:  'sans',
    $theme-font-role-body:     'sans',
    $theme-font-role-code:     'mono',
    $theme-image-path:  '../images/uswds',
    $theme-color-primary: #003087,
    $theme-color-primary-light: #0085CA,
    $theme-show-compile-warnings: true,
    $theme-show-notifications: false,
  
  )