<weathergov-alert-list>
<div class="margin-top-0 margin-bottom-2">
  {% for alert in alerts %}
    <div class="usa-alert usa-alert--warning usa-alert--slim wx-alert margin-top-0 margin-bottom-1 padding-y-05"
         role="alert"
         data-alert-level="{{ alert.metadata.level.text | lower }}">
      <div class="usa-alert__body wx-alert-li">
        <a href="#alert_{{ alert.id }}">{{ alert.event | t }} {{ alert.duration }}</a>
      </div>
    </div>
  {% endfor %}
</div>
</weathergov-alert-list>
