{% comment %}
-- Template purpose:
--   Display a clickable map of weather alerts and a legend.
-- Used by: county/overview.html
{% endcomment %}
<wx-alert-map class="display-block wx-county-alert-map-container wx-isolation-isolate position-sticky top-1">
<div id="wx_county_alert_map" class="height-full"></div>
<div class="wx_alert_map_legend display-flex flex-wrap flex-align-center">
  {% for level in levels %}
    <div class="display-flex flex-no-wrap flex-align-center"
         data-alert-map-legend-level="{{ level.name }}">
      <div class="{{ level.css_class }} display-block width-3 height-3 border-2px margin-top-105 margin-right-1"></div>
      <span class="text-no-wrap margin-top-105 margin-right-205">{{ level.translation_key | t }}</span>
    </div>
  {% endfor %}
  <div class="display-flex flex-no-wrap flex-align-center">
    <div class="wx_alert_map_legend--county display-block width-3 height-0 border-2px margin-top-105 margin-right-1"></div>
    <span class="text-no-wrap margin-top-105 margin-right-205">{{ "alerts.legend.county-line.01" | t }}</span>
  </div>
</div>
{% if levels|length > 0 %}
  <p class="font-body-xs text-base-dark margin-top-2 margin-bottom-0">
    {{ "Alerts are listed in order of start time and level of severity. Click on the alert title to read details for each alert." | t }}
  </p>
{% endif %}
</wx-alert-map>
