{% comment %}
-- Template purpose:
--   Display a box containing the date, the high and low, and the hourly
--   graph. This partial is used exclusively for the forecast shown on the
--   Today tab.
-- Expected variables:
--   day: the first day of the forecast
--   dayHours: the hours in the day
--   itemId: not actually sure
--   alerts: any alerts that apply to the day
--   times: the X axis of the chart
--   temps: temperature series for the chart
--   feelsLike: "feels like" series for the chart
--
-- Used by: backend.templatetags.weather_partials.daily_summary_list_item
--
{% endcomment %}
<li class="display-block bg-white padding-x-2 tablet-lg:padding-x-205 grid-col-12 height-full"
    {% if itemId %}id="{{ itemId }}{% endif %}
    ">
  <div class="grid-container padding-0 margin-bottom-2 tablet:margin-bottom-2">
    <div class="grid-row display-flex flex-align-start border-bottom-1px border-base-lighter padding-bottom-2">
      <div class="daily-date-and-temp display-flex flex-row flex-justify flex-align-center tablet:grid-col-6 tablet__flex-justify-start">
        <h3 class="padding-0 margin-0">
          <time class="display-block text-bold font-heading-md text-primary-dark minw-15 margin-right-3"
                datetime="{{ day.periods.0.start|date:"c" }}">
            <span>
              {% if day.periods.0.isDaytime %}
                {% trans "daily-forecast.labels.today.01" %},
              {% else %}
                {% trans "daily-forecast.labels.tonight.01" %},
              {% endif %}
            </span>
            <span class="display-block">{{ day.periods.0.start|date:"F j" }}</span>
          </time>
        </h3>
        <div class="display-flex">{% daily_high_low periods=day.periods %}</div>
      </div>
      {% if alerts.items|length > 0 %}
        <div class="grid-col-12 tablet:grid-col-6 tablet:display-flex tablet:flex-justify-end margin-top-2 tablet:margin-top-0 daily-alert-summary">
          {% summary_alert_link alerts=alerts lat=lat lon=lon %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="wx-daily-forecast-summary-periods{% if day.periods.0.isOvernight %} wx-daily-forecast-summary-periods--with-overnight{% endif %} grid-row grid-gap">
    {% for period in day.periods %}
      <div class="wx-daily-forecast-summary-area wx-daily-forecast-summary-area--{% if period.isOvernight %}overnight{% elif period.isDaytime %}daytime{% else %}other{% endif %}">
        <span class="display-block font-family-mono text-uppercase font-body-xs margin-bottom-1 text-primary-darker wx-marker-before">
          {{ label }}
          {% if period.isOvernight %}
            {% trans "daily-forecast.labels.overnight.01" %}
            <span class="daily-period-time-label text-gray-50">({% trans "daily-forecast.labels.overnight-time-span.01" %})</span>
          {% elif period.isDaytime %}
            {% trans "daily-forecast.labels.day.01" %}
            <span class="daily-period-time-label text-gray-50">({% trans "daily-forecast.labels.today-time-span.01" %})</span>
          {% else %}
            {% trans "daily-forecast.labels.night.01" %}
            <span class="daily-period-time-label text-gray-50">({% trans "daily-forecast.labels.tonight-time-span.01" %})</span>
          {% endif %}
        </span>
        <div class="display-flex flex-row flex-align-start">
          {% if period.data.icon.base %}
            <div class="width-5 height-5 margin-right-105">
              {% weather_icon period.data.icon.base size="md" color_mode="light" class="width-full height-full" aria_hidden="true" %}
            </div>
          {% endif %}
          <div class="flex-1">
            <p class="daily-short-forecast font-body-sm margin-top-2px margin-bottom-0 marker-height-sans-3">
              {{ period.data.description }}
            </p>
            {% if period.data.probabilityOfPrecipitation.hourlyMax and period.data.probabilityOfPrecipitation.hourlyMax > 1 %}
              <p class="text-gray-50 font-body-xs margin-top-05 margin-bottom-0">
                {% trans_with_args "daily-forecast.text.chance-precip.02" percent=period.data.probabilityOfPrecipitation.hourlyMax %}
              </p>
            {% endif %}
            {% if period.data.narrativeText %}
              <p class="daily-short-forecast font-body-xs margin-top-05 margin-bottom-0">{{ period.data.narrativeText }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if day.hours|length > 0 %}
    {% include "weather/partials/today-hourly-charts.html" %}
  {% endif %}
</li>
