{% comment %}
If there are two or more periods, we'll always show both high and low. If
there is only one period, then which we show depends on whether or not the
single period is a day time period.
{% endcomment %}
{% if show_high %}
  <div class="daily-high-low display-flex flex-column flex-align-center padding-x-4px margin-right-2">
    <span class="display-block margin-bottom-05 font-mono-3xs font-family-mono text-base-darker text-medium text-ls-1 text-uppercase">
      {{ "daily-forecast.labels.high.01" | t }}
    </span>
    <span class="font-ui-lg display-flex flex-row flex-align-start text-primary-darker">
      {{ high }}<span aria-hidden="true"
      class="font-body-3xs margin-top-2px padding-left-1px">&deg;F</span>
      <span class="usa-sr-only">℉</span>
    </span>
  </div>
{% endif %}
{% if show_low %}
  <div class="daily-high-low display-flex flex-column flex-align-center padding-x-4px margin-right-2">
    <span class="display-block margin-bottom-05 font-mono-3xs font-family-mono text-base-darker text-ls-1 text-uppercase">
      {{ "daily-forecast.labels.low.01" | t }}
    </span>
    <span class="font-ui-lg display-flex flex-row flex-align-start text-primary-darker">
      {{ low }}<span aria-hidden="true"
      class="font-body-3xs margin-top-2px padding-left-1px">&deg;F</span>
      <span class="usa-sr-only">℉</span>
    </span>
  </div>
{% endif %}
