<wx-tabs class="wx-forecast-details-toggle grid-row grid-col-12 tablet:grid-col-6 margin-y-205" data-selected="hourly-table_{{ itemId }}">
<div class="usa-button-group usa-button-group--segmented tablet-lg:grid-col-8"
     role="tablist">
  <button id="hourly-table-tab_{{ itemId }}"
          type="button"
          class="usa-button flex-1"
          role="tab"
          aria-controls="hourly-table_{{ itemId }}"
          aria-selected="true">{% trans "daily-forecast.button.details-toggle-table.01" %}</button>
  <button id="hourly-charts-tab_{{ itemId }}"
          type="button"
          class="usa-button flex-1"
          role="tab"
          aria-controls="hourly-charts_{{ itemId }}"
          aria-selected="false">{% trans "daily-forecast.button.details-toggle-charts.01" %}</button>
</div>
</wx-tabs>
