<div class="ghwo-risk-table-legend font-mono-xs"
     aria-label="{{ 'ghwo.table.legend.label.01'|t }}">
  <div class="ghwo-risk-table-legend-inner" aria-hidden="true">
    <div class="ghwo-risk-legend-item">
      <div class="ghwo-risk-legend-square" data-risk-level="1"></div>
      <span>1</span>
    </div>
    <div class="ghwo-risk-legend-item">
      <div class="ghwo-risk-legend-square" data-risk-level="2"></div>
      <span>2</span>
    </div>
    <div class="ghwo-risk-legend-item">
      <div class="ghwo-risk-legend-square" data-risk-level="3"></div>
      <span>3</span>
    </div>
    <div class="ghwo-risk-legend-item">
      <div class="ghwo-risk-legend-square" data-risk-level="4"></div>
      <span>4</span>
    </div>
    <div class="ghwo-risk-legend-item">
      <div class="ghwo-risk-legend-square" data-risk-level="5"></div>
      <span>5</span>
    </div>
  </div>
  <dl class="margin-bottom-0">
    <dt>1</dt>
    <dd>
      {{ 'ghwo.table.legend.low-risk.01'|t }}
    </dd>
    <dt>5</dt>
    <dd>
      {{ 'ghwo.table.legend.high-risk.01'|t }}
    </dd>
  </dl>
</div>
