{% comment %}
  This template receives 1 top-level object.

  ghwo:
    This is the full risk overview object for the current county.
{% endcomment %}
{% if ghwo.error %}
  {% if "Error" in ghwo.error %}
    <h3 class="text-accent-warm-darker">{{ "ghwo.heading.error.01" | t }}</h3>
    <p>{{ "ghwo.heading.error-description.01" | t}}</p>
    <div class="display-flex flex-justify-center margin-y-6 desktop:margin-y-8">
      <img src={% static "images/weather/wx_error-cloud_error.svg" %} alt="" />
    </div>
  {% else %}
    <h3 class="text-base-darker">{{ "ghwo.heading.no-data.01" | t }}</h3>
    <p>{{ "ghwo.heading.no-data-description.01" | t }}</p>
    <div class="display-flex flex-justify-center margin-y-6 desktop:margin-y-8">
      <img src={% static "images/weather/wx_error-cloud_missing.svg" %} alt="" />
    </div>
  {% endif %}
{% else %}
  {% include "weather/partials/ghwo-daily-summary.html" with ghwo=ghwo %}
  <div class="grid-row">
    <div class="tablet-lg:grid-col-7 grid-col-12">
      <hr class="width-full height-1px bg-base-light border-0 margin-top-4 margin-bottom-0" />
    </div>
  </div>
  {% include "weather/partials/ghwo-daily-details.html" with ghwo=ghwo %}
{% endif %}
