{% comment %}
  This template receives one top-level property called ghwo.
  This is the full risk overview object for the county. The
  relevant properties of this object are:

  error:
    An error object, or falsey. If not falsey, it should
    contain a status property indicating the HTTP code
    so we can tell the user if the data is missing or if
    there was some other unknown error.

  composite:
    A list of composite levels for the forecast days. Each
    day has three properties:

      timestamp: ISO8601 timestamp with appropriate place-
        local UTC offset

      max: the highest absolute level of any risk for the day

      scaled: the maximum scaled level of all risks for the day;
        the scaled level is the absolute level of a given risk
        divided by its maximum possible level
{% endcomment %}
{% if ghwo.error %}
  {% if ghwo.error.status == 404 %}
    <div>
      <p>{{ "ghwo.summary.error.not-found.01" | t }}</p>
      <img class="height-8"
           src="{% static "images/weather/wx_error-cloud_missing.svg" %}"
           alt="" />
    </div>
  {% else %}
    <div>
      <p>{{ "ghwo.summary.error.loading.01" | t }}</p>
      <img class="height-8"
           src="{% static "images/weather/wx_error-cloud_error.svg" %}"
           alt="" />
    </div>
  {% endif %}
{% else %}
  <h2 class="wx-visual-h2 text-normal text-primary-dark margin-bottom-2 margin-top-1 desktop:margin-top-0"
      id="ghwo-summary-table-header">{{ "ghwo.table.caption.header.01"|t }}</h2>
  <table class="ghwo-risk-summary-table"
         aria-labelledby="ghwo-summary-table-header">
    <caption class="margin-bottom-2">
      <p class="text-left font-sans-sm text-normal margin-y-0">{{ "ghwo.table.caption.description.01"|t }}</p>
    </caption>
    <thead>
      <tr>
        <th scope="col" aria-hidden="true"></th>
        {% for day in ghwo.composite.days %}
          <th scope="col" class="text-center">
            <div class="font-mono-2xs tablet-lg:font-mono-xs text-normal">
              <span class="display-block">{{ day.timestamp|datetime|date:"D" }}</span>
              <span class="display-block">{{ day.timestamp|datetime|date:"n" }}/{{ day.timestamp|datetime|date:"j" }}</span>
            </div>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <span class="font-mono-xs padding-right-3 text-normal">{{"ghwo.table.row.risk-summary.01"|t}}</span>
        </th>
        {% for day in ghwo.composite.days %}
          <td class="text-center vertical-align-middle">
            {% if day.max %}
              <div class="ghwo-chiclet-wrapper display-flex flex-justify-center">
                <div class="ghwo-chiclet"
                     aria-hidden="true"
                     data-risk-level="{{ day.max }}">
                  <span class="font-mono-2xs text-medium">{{ day.max }}</span>
                </div>
                {% include 'weather/partials/ghwo-risk-level-sr-only.html' with level_num=day.max %}
              </div>
            {% else %}
              <div class="ghwo-chiclet-wrapper">
                <div class="ghwo-chiclet" data-risk-level="0">
                  <span class="usa-sr-only">{{ "ghwo.summary.levels.sr-labels.0.01" | t}}</span>
                </div>
              </div>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  {% include 'weather/partials/ghwo-risk-table-legend.html' %}
{% endif %}
