{% if ghwo.error %}
  <p>There was an error loading the GHWO detailed data.</p>
  <p>{{ ghwo.error }}</p>
{% else %}
  <wx-ghwo-details-table target="wx-ghwo-table-details-pane">
  <div class="grid-row">
    <div class="tablet-lg:grid-col-7 grid-col-12">
      <h3 class="wx-visual-h3 text-normal text-primary-dark margin-top-4"
          id="ghwo-details-table-header">{{ "ghwo.table.details.header.01"| t }}</h3>
      <p class="text-left font-sans-sm text-normal margin-top-0 margin-bottom-2"
         id="ghwo-details-table-caption">{{ "ghwo.table.details.description.01" | t}}</p>
      <div class="display-flex flex-justify tablet-lg:display-none">
        {% include 'weather/partials/scroll-buttons.html' %}
      </div>
      <div class="ghwo-risk-details-table-wrapper">
        <table role="grid"
               class="ghwo-risk-details-table"
               aria-labelledby="ghwo-details-table-header"
               aria-describedby="ghwo-details-table-caption">
          <thead role="presentation">
            <tr>
              <td class="position-sticky left-0 bg-white"></td>
              {% for day in ghwo_days %}
                <th scope="col">
                  <time datetime="{{ day.timestamp }}"
                        data-day-number="{{ day.dayNumber }}"
                        class="font-mono-2x tablet-lg:font-mono-xs text-normal">
                    <span class="display-block">{{ day.datetime|date:"D" }}</span>
                    <span class="display-block">{{ day.datetime|date:"n" }}/{{ day.datetime|date:"j" }}</span>
                  </time>
                </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in ghwo_detailed_table_rows %}
              <tr>
                <th scope="row" class="position-sticky left-0 text-left">
                  <span class="font-mono-xs padding-right-3 text-normal">{{ row.risk.label }}</span>
                </th>
                {% for day in row.days %}
                  <td role="gridcell" aria-selected="false">
                    <div class="ghwo-chiclet-wrapper">
                      {% if day.level.number > 0 %}
                        <button class="ghwo-chiclet chiclet-detail-cell"
                                role="button"
                                data-risk-level="{{ day.level.number }}"
                                data-risk-factor="{{ row.risk.id }}"
                                data-day-number="{{ day.day_number }}"
                                data-day-name="{{ day.datetime|date:"l" }}"
                                aria-selected="{% if day.is_first %}true{% else %}false{% endif %}">
                          <span class="usa-sr-only">{{ row.risk.label }}: {{ "ghwo.details.table.risk-level.lower.01" | t }}{{ day.level.number }}</span>
                          <span class="font-mono-2x text-medium" aria-hidden="true">{{ day.level.number }}</span>
                        </button>
                      {% else %}
                        <div class="ghwo-chiclet chiclet-detail-cell chiclet-detail-cell-empty"
                             data-risk-level="{{ day.level.number }}"
                             data-risk-factor="{{ row.risk.id }}"
                             tabindex="0">
                          <span class="usa-sr-only">
                            {{row.risk.label}}: {{ "ghwo.details.table.risk-level.lower.01" | t }}{{day.level.number}}
                            </span>
                        </div>
                      {% endif %}
                    </div>
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% include 'weather/partials/ghwo-risk-table-legend.html' %}
      <p class="font-sans-xs margin-top-105">
                <span>{% translate_plural_with_args "ghwo.details.table.no-impact.01" 0 num="[num]" %}:</span>
        <span>(list of other categories goes here)</span>
      </p>
    </div>
    <div class="grid-col-12 tablet-lg:grid-col-5 tablet-lg:padding-left-4">
      {% comment %}
        We render a pane for each day in each row
        so long as the level for that day is more than 0
      {% endcomment %}
      {% for row in ghwo_detailed_table_rows %}
        {% for day in row.days %}
          {% if day.level.number > 0 %}
            {% include  'weather/partials/ghwo-details-pane.html' with day=day risk=row.risk %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  </wx-ghwo-details-table>
{% endif %}
