{% if error %}
  {% if error.status == 404 %}
    <div>
      <p>{{ "ghwo.summary.error.not-found.01" | t }}</p>
      <img class="height-8"
           src="{% static "images/weather/wx_error-cloud_missing.svg" %}"
           alt="" />
    </div>
  {% else %}
    <div>
      <p>{{ "ghwo.summary.error.loading.01" | t }}</p>
      <img class="height-8"
           src="{% static "images/weather/wx_error-cloud_error.svg" %}"
           alt="" />
    </div>
  {% endif %}
{% else %}
  <h2 class="wx-visual-h2 text-normal text-primary-dark margin-bottom-2 margin-top-1 desktop:margin-top-0"
      id="ghwo-summary-table-header">{{ "ghwo.table.caption.header.01"|t }}</h2>
  <table class="ghwo-risk-summary-table"
         aria-labelledby="ghwo-summary-table-header">
    <caption class="margin-bottom-2">
      <p class="text-left font-sans-sm text-normal margin-y-0">{{ "ghwo.table.caption.description.01"|t }}</p>
    </caption>
    <thead>
      <tr>
        <th scope="col" aria-hidden="true"></th>
        {% for day in ghwo_days %}
          <th scope="col" class="text-center">
            <div class="font-mono-2xs tablet-lg:font-mono-xs text-normal">
              <span class="display-block">{{ day.timestamp|datetime|date:"D" }}</span>
              <span class="display-block">{{ day.timestamp|datetime|date:"n" }}/{{ day.timestamp|datetime|date:"j" }}</span>
            </div>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <span class="font-mono-xs padding-right-3 text-normal">{{"ghwo.table.row.risk-summary.01"|t}}</span>
        </th>
        {% for day in ghwo_days %}
          <td class="text-center vertical-align-middle">
            {% if day.highest %}
            <div class="ghwo-chiclet-wrapper display-flex flex-justify-center">
                <div class="ghwo-chiclet"
                     aria-hidden="true"
                     data-risk-level="{{ day.highest.level }}"
                     data-risk-factor="{{ day.highest.riskFactor }}">
                  <span class="font-mono-2xs text-medium">{{ day.highest.level }}</span>
                </div>
                {% include 'weather/partials/ghwo-risk-level-sr-only.html' with level_num=day.highest.level %}
              </div>
            {% else %}
              <div class="ghwo-chiclet-wrapper">
                <div class="ghwo-chiclet" data-risk-level="0">
                  <span class="usa-sr-only">{{ "ghwo.summary.levels.sr-labels.0.01" | t}}</span>
                </div>
              </div>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  {% include 'weather/partials/ghwo-risk-table-legend.html' %}
  {% if debug %}
    <hr class="border-0 height-1px bg-base-light margin-top-4">
    <div class="overflow-x-auto">
      <pre>
        {{ghwo_dump}}
      </pre>
    </div>
  {% endif %}
{% endif %}
