{% load weather_i18n %}
<section class="usa-banner"
         aria-label="{{ "daily-forecast.text.usa-gov-site.01" | t }}">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img aria-hidden="true"
               class="usa-banner__header-flag"
               src="/assets/images/uswds/us_flag_small.png"
               alt="" />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto" aria-hidden="true">
          <p class="usa-banner__header-text">{{ "footer.text.usa-gov-site-alt.01" | t }}</p>
          <p class="usa-banner__header-action">{{ "uswds-banner.how-you-know.01" | t }}</p>
        </div>
        <button type="button"
                class="usa-accordion__button usa-banner__button"
                aria-expanded="false"
                aria-controls="gov-banner-default-default">
          <span class="usa-banner__button-text">{{ "uswds-banner.how-you-know.01" | t }}</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content"
         id="gov-banner-default-default">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img"
               src="/assets/images/uswds/icon-dot-gov.svg"
               role="img"
               alt=""
               aria-hidden="true" />
          <div class="usa-media-block__body">
            <p>
              <strong>{{ "uswds-banner.gov.description.01" | t }}</strong>
              <br />
              {{ "uswds-banner.gov.description_html.01" | t }}
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img"
               src="/assets/images/uswds/icon-https.svg"
               role="img"
               alt=""
               aria-hidden="true" />
          <div class="usa-media-block__body">
            <p>
              <strong>{{ "uswds-banner.gov.https.01" | t }}</strong>
              <br />
              {{ "uswds-banner.lock_html.01" | t }}
              (
              <span class="icon-lock">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="52"
                     height="64"
                     viewbox="0 0 52 64"
                     class="usa-banner__lock-image"
                     role="img"
                     aria-labelledby="banner-lock-description-default"
                     focusable="false">
                  <title id="banner-lock-title-default">{{ "uswds-banner.lock.01" | t }}</title>
                  <desc id="banner-lock-description-default">
                  {{ "uswds-banner.lock_alt.01" | t }}
                  </desc>
                  <path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z" />
                </svg>
              </span>)
              {{ "uswds-banner.gov.safely-connected_html.01" | t }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
