<h3 class="wx-visual-h2 text-normal text-primary-darker padding-x-2 tablet:padding-x-0 margin-top-0 margin-bottom-2">
  {% trans "forecast.heading.current-conditions.01" %}
</h3>
<div class="bg-white padding-2 shadow-1 grid-col-12 flex-1">
  <div class="wx-current-conditions grid-row grid-gap">
    {% if obs.error %}
      {% include "weather/partials/uswds-alert.html" with level="error" body="forecast.errors.current-conditions.01"|t %}
    {% else %}
      {# Weather narrative is for screen readers only #}
      <div role="text"
           data-wx-current-conditions-narrative
           class="tablet:grid-col-12 usa-sr-only height-1px">
        {% trans_with_args "forecast.aria.current-conditions-narrative.01" time=obs.timestamp.formatted place=point.place.fullName conditions=obs.description|lower temperature=obs.data.temperature.degF %}
        {% if obs.data.feelsLike.degF != obs.data.temperature.degF %}
          {% trans_with_args "forecast.aria.current-conditions-feels-like.01" temperature=obs.data.feelsLike.degF %}
        {% endif %}
      </div>
      {# We hide from screenreaders and use the weather narrative (above) instead #}
      <div class="grid-col-12" aria-hidden="true">
        {# First row is temperature #}
        <div class="display-flex">
          <div class="wx-current-conditions__temp display-flex flex-row flex-align-start margin-right-2 text-primary-dark">
            {{ obs.data.temperature.degF }}<span class="font-body-xs display-inline-block left-full margin-top-05 margin-left-neg-2px">&deg;F</span>
          </div>
          <div class="margin-top-05 position-relative">
            <div class="font-mono-2xs font-family-mono text-base text-uppercase">{% trans "forecast.current.feels-like.01" %}</div>
            <div class="text-primary-dark">
              <p class="margin-top-2px font-body-md">
                {{ obs.data.feelsLike.degF }}<span class="font-body-3xs position-absolute margin-top">&deg;F</span>
              </p>
            </div>
          </div>
        </div>
        <div class="display-flex flex-align-center margin-bottom-2">
          {% if obs.icon.icon %}
            <div class="wx-icon margin-right-105 width-5 height-5">
              <svg role="img" aria-hidden="true" class="width-full height-full">
                <use xlink:href="/assets/images/spritesheet.svg#{{ obs.icon.base }}"></use>
              </svg>
            </div>
          {% endif %}
          <p class="font-body-md margin-top-2px margin-bottom-0">{{ obs.description }}</p>
        </div>
      </div>
      <div class="grid-row tablet:margin-top-2 width-full">
        <div class="mobile:grid-col-12 tablet:grid-col-6 desktop:grid-col-12 margin-bottom-05 tablet:padding-right-4 tablet:margin-bottom-0">
          {% include "weather/partials/observation-table.html" %}
        </div>
        <div class="mobile:grid-col-12 tablet:grid-col-6 desktop:grid-col-12">
          <div class="border-top-1px border-base-light padding-top-1">
            <span class="font-family-mono font-mono-xs text-base text-uppercase margin-bottom-1 display-block">
              {% trans_with_args "forecast.current.obs-station.01" %}
            </span>
            <span class="display-block margin-top-1 margin-bottom-105 display-block line-height-sans-3">
              {{ obs.station.name }} ({{ obs.station.id }})
            </span>
            <div class="display-block margin-bottom-05">
              <span class="font-mono-xs text-base text-ls-neg-1">{% trans "forecast.current.obs-station-distance.01" %}:</span>
              <span>{{ obs.station.distance.mi }} {% trans "units.miles.01" %}</span>
            </div>
            <div class="display-block">
              <span class="font-mono-xs text-base text-ls-neg-1">{% trans "forecast.current.obs-station-elevation.01" %}:</span>
              <span>{{ obs.station.elevation.ft }} {% trans "units.feet.01" %}</span>
            </div>
          </div>
          {# We hide from screenreaders and use the weather narrative (above) instead #}
          <div data-wx-current-conditions-narrative aria-hidden="true">
            <p class="font-family-mono font-mono-xs text-base text-uppercase margin-top-2 margin-bottom-05">
              {{ 'forecast.current.last-updated.01' | t }}
            </p>
            {# Datetimes are localized in client-side Javascript. #}
            <time class="display-block font-family-mono font-mono-xs"
                  datetime="{{ obs.timestamp.utc }}"
                  data-wx-local-time>
              {{ obs.timestamp.formatted }}
            </time>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
