{% comment %}
-- Template purpose:
--   Display a banner with the place name.
-- Used by: point/overview.html
{% endcomment %}
<div class="wx-location-search">
  <div class="bg-primary-darker">
    <div class="grid-container">
      <div class="grid-row flex-no-wrap">
        <!-- Saved locations button-->
        {% include 'weather/partials/saved-locations-button.html' with mode="dark" placement="heading" %}
        <h1 class="text-white font-heading-xl tablet:flex-1">{% place_label place %}</h1>
      </div>
    </div>
  </div>
</div>
