{% if as_table == True %}
  <div class="grid-row wx-qpf-periods">
    <div class="grid-col-12">
      <h5 class="wx-mono-lg text-normal text-primary-dark margin-top-2 margin-bottom-05">
        {% trans "precip-table.heading.amounts.01" %}
      </h5>
    </div>
  </div>
  <div class="grid-row grid-col-12">
    <div class="grid-col-12 tablet:grid-col-6 tablet:padding-right-1">
      <table class="usa-table usa-table--borderless wx-precip-table margin-y-0 width-full">
        <caption class="usa-sr-only">{% trans "precip-table.aria.amounts.01" %}</caption>
        <thead>
          <tr>
            <th scope="col">{% trans "precip-table.table-header.time-period.01" %}</th>
            {% if qpf.hasSnow %}
              <th scope="col">{% trans "precip-table.table-header+legend.snow.01" %}</th>
            {% endif %}
            {% if qpf.hasIce %}
              <th scope="col">{% trans "precip-table.table-header+legend.ice.01" %}</th>
            {% endif %}
            {% if qpf.hasSnow or qpf.hasIce %}<th aria-hidden="true"></th>{% endif %}
            <th scope="col">{{ liquidTitle }}</th>
          </tr>
        </thead>
        <tbody>
          {% for hour in qpf.periods %}
            <tr>
              <td class="font-family-mono font-mono-xs text-base text-ls-neg-3">
                {{ hour.startHour }}&emsp13;–&emsp13;{{ hour.endHour }}
              </td>
              {% if qpf.hasSnow %}
                <td class="text-align-left">{% trans_with_args "units.inches.01" inches=hour.snow.in %}</td>
              {% endif %}
              {% if qpf.hasIce %}
                <td>{% trans_with_args "units.inches.01" inches=hour.ice.in %}</td>
              {% endif %}
              {% if qpf.hasSnow or qpf.hasIce %}<td aria-hidden="true"></td>{% endif %}
              <td class="text-align-left">{% trans_with_args "units.inches.01" inches=hour.liquid.in %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if qpf.hasIce or qpf.hasSnow %}
      <div class="grid-col-12 tablet:grid-col-6 tablet:padding-left-1">
        <p class="bg-base-lightest padding-105">{% trans "precip-table.text.water-explainer.01" %}</p>
      </div>
    {% endif %}
  </div>
{% else %}
  <div class="wx-chart-wrapper">
    <h5 class="wx-mono-lg text-normal text-primary-dark margin-top-2 margin-bottom-05">
      {% trans "hourly-charts.heading.precip-amounts.01" %}
    </h5>
    <div class="position-sticky left-0 display-flex desktop:display-none flex-justify padding-top-2 padding-bottom-05">
      {% include "weather/partials/scroll-buttons.html" %}
    </div>
    <div class="wx-chart wx-qpf-chart-container margin-bottom-105 position-relative grid-col-12 width-full overflow-x-auto"
         tabindex="0"
         data-times="{{ times|json_encode }}"
         data-liquid="{{ liquid|json_encode }}"
         data-snow="{{ snow|json_encode }}"
         data-ice="{{ ice|json_encode }}"
         data-sync-scrolling="true">
      <div class="maxh-card-lg"
           style="width: max(100%, calc(var(--chart-datapoint-width) * {{ times|length }}))">
        <canvas></canvas>
      </div>
    </div>
    <div class="display-flex flex-align-center font-mono-xs text-base">
      <div class="margin-x-1 margin-right-1 wx-bg-snow margin-left-1 width-2 height-2 border border-base-darker"
           style="margin-top: -3px"></div>
      {% trans "precip-table.table-header+legend.snow.01" %}
      <div class="margin-right-3"></div>
      <div class="margin-x-1 margin-right-1 wx-bg-ice margin-left-1 width-2 height-2 border wx-border-cyan-80"
           style="margin-top: -3px"></div>
      {% trans "precip-table.table-header+legend.ice.01" %}
      <div class="margin-right-3"></div>
      <div class="margin-x-1 margin-right-1 bg-accent-cool margin-left-1 width-2 height-2 border border-accent-cool-dark"
           style="margin-top: -3px"></div>
      {{ liquidTitle }}
    </div>
  </div>
{% endif %}
