<div>
  <button class="wx-scroll-button circle-4 border-0 display-flex flex-align-center flex-justify-center padding-y-1px padding-x-05"
          data-direction="left"
          type="button"
          role="button">
    <span class="usa-sr-only">{% trans "hourly-table.aria.scroll-left.01" %}</span>
    <svg class="usa-icon usa-icon--size-3"
         aria-hidden="true"
         focusable="false"
         role="img">
      <use xlink:href="/assets/images/uswds/sprite.svg#arrow_back"></use>
    </svg>
  </button>
</div>
<div>
  <button class="wx-scroll-button circle-4 border-0 display-flex flex-align-center flex-justify-center padding-y-1px padding-x-05"
          data-direction="right"
          type="button"
          role="button">
    <span class="usa-sr-only">{% trans "hourly-table.aria.scroll-right.01" %}</span>
    <svg class="usa-icon usa-icon--size-3"
         aria-hidden="true"
         focusable="false"
         role="img">
      <use xlink:href="/assets/images/uswds/sprite.svg#arrow_forward"></use>
    </svg>
  </button>
</div>
