{% comment %}
-- Template purpose: Display a clickable map of weather alerts for a state.
{% endcomment %}
<wx-alert-map class="display-block wx-state-alert-map-container wx-isolation-isolate position-sticky top-1">
<div id="wx_map_loader" class="wx-map-loader">
  <div class="loader-spinner"></div>
  <span class="loader-text">{{ "state.alerts.loading-map.01" | t }}</span>
</div>
<div id="wx-state-alert-map" class="height-full"></div>
<div class="wx_alert_map_legend display-flex flex-wrap flex-align-center margin-top-1">
  {% for level in levels %}
    <div class="display-flex flex-no-wrap flex-align-center margin-right-2 margin-top-1"
         data-alert-map-legend-level="{{ level.name }}">
      <div class="{{ level.css_class }} display-block width-3 height-3 border-2px margin-right-1"></div>
      <span class="text-no-wrap font-body-xs">{{ level.translation_key | t }}</span>
    </div>
  {% endfor %}
  <div class="display-flex flex-no-wrap flex-align-center margin-top-1">
    <div class="wx_alert_map_legend--state display-block width-3 height-0 border-2px margin-right-1 border-dashed"></div>
    <span class="text-no-wrap font-body-xs">{{ "alerts.legend.state-line.01" | t }}</span>
  </div>
</div>
</wx-alert-map>
