{% comment %}
-- Template purpose:
--   Display "Today's forecast" information on the point forecast page.
-- Used by: point/overview.html
{% endcomment %}
{% if forecast.error %}
  {% include 'weather/partials/uswds-alert.html' with level="error" body="forecast.errors.daily.01"|t %}
{% elif forecast.days|length > 0 %}
  {% with today=forecast.days.0 precipHours=today.qpf.0 %}
    <h3 class="wx-visual-h2 text-normal text-primary-darker padding-x-205 tablet:padding-x-0 desktop:margin-top-0 margin-top-3 margin-bottom-2">
      {{ "forecast.heading.today-forecast.01" | t }}
    </h3>
    <div class="flex-auto bg-white shadow-1 padding-y-2">
      <ol class="usa-list--unstyled">
        {# Attempt to render the period(s) associated with the current day #}
        {% daily_summary_list_item day=forecast.days.0 %}
      </ol>
      <div class="wx-sunrise-sunset-container padding-top-3 desktop:padding-top-4 padding-x-2">
        <div class="padding-bottom-1 display-flex flex-align-center">
          <div class="padding-right-1">
            <img alt="" src="{% static 'images/weather/wx_sunrise_sm.svg' %}">
          </div>
          <div class="padding-right-4">
            {{ "Sunrise" | t }}
            {{ astronomical_data.sunrise|date:"g:i" }}&nbsp;{{ astronomical_data.sunrise|date:"A" }}
          </div>
          <div class="padding-right-1">
            <img alt="" src="{% static 'images/weather/wx_sunset_sm.svg' %}">
          </div>
          <div class="padding-right-4">
            {{ "Sunset" | t}}
            {{ astronomical_data.sunset|date:"g:i" }}&nbsp;{{ astronomical_data.sunset|date:"A" }}
          </div>
          <div wx-expander="#astronomical-data">
            <button wx-expand
                    aria-controls="astronomical-data"
                    aria-expanded="false"
                    class="usa-button usa-button--unstyled"
                    type="button">
              <span class="usa-icon--size-3 display-block text-primary">
                <svg class="usa-icon usa-icon--size-3"
                     aria-hidden="true"
                     focusable="false"
                     role="img">
                  <use xlink:href="{% static 'images/uswds/sprite.svg' %}#add_circle"></use>
                </svg>
                <span class="sr-only">{{ "show more "}}</span>
              </span>
            </button>
            <button wx-collapse
                    aria-controls="astronomical-data"
                    aria-expanded="true"
                    class="usa-button usa-button--unstyled display-none"
                    type="button">
              <span class="usa-icon--size-3 display-block text-primary">
                <svg class="usa-icon usa-icon--size-3"
                     aria-hidden="true"
                     focusable="false"
                     role="img">
                  <use xlink:href="{% static 'images/uswds/sprite.svg' %}#remove_circle"></use>
                </svg>
                <span class="sr-only">{{ "hide "}}</span>
              </span>
            </button>
          </div>
        </div>
        <table id="astronomical-data"
               class="usa-table usa-table--borderless width-full margin-0 display-none">
          <tbody>
            <tr>
              <th class="font-family-mono font-mono-xs text-uppercase text-base border-top-0">{{ "first light" | t }}</th>
              <td class="border-top-0">{{ astronomical_data.civilTwilightBegin|date:"g:i A" }}</td>
            </tr>
            <tr>
              <th class="font-family-mono font-mono-xs text-uppercase text-base">{{ "last light" | t }}</th>
              <td>{{ astronomical_data.civilTwilightEnd|date:"g:i A" }}</td>
            </tr>
            <tr>
              <th class="font-family-mono font-mono-xs text-uppercase text-base border-bottom-0">{{ "length of day" | t }}</th>
              <td class="border-bottom-0">{{ astronomical_data.dayLength }}</td>
            </tr>
            <tr>
              <th class="font-family-mono font-mono-xs text-uppercase text-base">{{ "length of visible day" | t }}</th>
              <td>{{ astronomical_data.dayLightLength }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% endwith %}
{% endif %}
