{# Top section with text #}
<div class="wx-weather-story-wrapper">
  <div class="margin-bottom-2">
    {% if show_title %}
      <h3 class="wx-visual-h2 text-normal text-primary-darker margin-top-3 margin-bottom-2 mobile-lg:display-flex flex-wrap">
        <span class="margin-right-0 mobile-lg:margin-right-2 desktop:margin-right-0">
          {{ "weather-story.heading.from-forecaster.01" | t }}
        </span>
      </h3>
    {% endif %}
    <h4 class="wx-visual-h3 text-primary-dark margin-0 margin-bottom-2">{{ weather_story.title }}</h4>
    <p class="margin-0 margin-bottom-2">
      {% trans_with_args "weather-story.text.created-by.06" date=weather_story.starttime|date:'l F j, Y' time=weather_story.starttime|date:'g:i A'  wfo_name=weather_story.wfo.name wfo_url=weather_story.wfo.url %}
    </p>
    <p class="margin-0">{{ weather_story.html }}</p>
  </div>
  {# Image area #}
  {% if weather_story.image %}
    <div class="display-block desktop:width-full desktop:padding-bottom-3 margin-right-neg-2 margin-left-neg-2 desktop:margin-right-0 desktop:margin-left-0 {% if show_title %}desktop:margin-top-3{% endif %}">
      <img src="{{ weather_story.image.url }}" alt="" aria-hidden="true">
    {% endif %}
  </div>
  {# Footer area #}
  <div class="display-flex flex-column flex-justify-end margin-bottom-3">
    <hr class="margin-x-0 border-accent-cool-darker border-top-0 margin-top-2" />
    {# AFD Link #}
    <div class="display-flex flex-align-center margin-top-105">
      <svg width="24"
           height="24"
           viewBox="0 0 24 24"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           aria-hidden="true">
        <rect width="24" height="24" fill="transparent" />
        <path d="M6 5H18V6H6V5Z" fill="#0085CA" />
        <path d="M6 10H18V11H6V10Z" fill="#0085CA" />
        <path d="M18 15H6V16H18V15Z" fill="#0085CA" />
        <path d="M6 12H16V13H6V12Z" fill="#0085CA" />
        <path d="M16 17H6V18H16V17Z" fill="#0085CA" />
        <path d="M6 7H16V8H6V7Z" fill="#0085CA" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 2H20V22H4V2ZM5 3H19V21H5V3Z" fill="#0085CA" />
      </svg>
      <a class="usa-link margin-left-1"
         href="{% url "afd_by_office" wfo=weather_story.wfo.code %}">{{ "weather-story.link.area-forecast-discussion.01" | t }}</a>
    </div>
    {% if is_county_page %}
      {# Zone forecast product - tktk #}
      {% comment %}
          <div class="display-flex flex-align-center margin-top-105">
            <svg width="24" height="24" fill="#005EA2" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="{% static 'images/uswds/sprite.svg' %}#location_city"></use>
            </svg>
            <a class="usa-link margin-left-1" href="#">{{ "weather-story.link.zone-forecast.01" | t }}</a>
          </div>
      {% endcomment %}
    {% elif county %}
      {# County page link #}
      <div class="display-flex flex-align-center margin-top-105">
        <svg width="24"
             height="24"
             fill="#005EA2"
             xmlns="http://www.w3.org/2000/svg"
             aria-hidden="true">
          <use xlink:href="{% static 'images/uswds/sprite.svg' %}#location_city"></use>
        </svg>
        <a class="usa-link margin-left-1"
           href="{% url "county_overview" countyfips=county %}">{{ "weather-story.link.county-overview.01" | t }}</a>
      </div>
    {% endif %}
  </div>
</div>
